<div class="team_create__wrapper">
    <h1 class="lk_wrapper__title">Создать матч</h1>
    <form id="match_create__form">
        <label for="name">Команда 1</label>
        <select name="team_1" id="team_1">
            <% for (let i = 0; i < teams.length; i++) { %>
                <option value="<%= teams[i]._id %>"><%= teams[i].name %></option>
            <% } %>
        </select>

        <label for="name">Команда 2</label>
        <select name="team_2" id="team_2">
            <% for (let i = 0; i < teams.length; i++) { %>
                <option value="<%= teams[i]._id %>"><%= teams[i].name %></option>
            <% } %>
        </select>
        <label for="description">Дата</label>
        <input type="text" name="date" >

        <input type="submit" value="Создать">
    </form>
    <script>
        
    </script>
</div>