<div class="team_create__wrapper">
    <h1 class="lk_wrapper__title">Создать турнир</h1>
    <form id="tournament_create__form">
        <label for="fio">Полное название</label>
        <input type="text" name="full_name">
        <label for="fio">Короткое название</label>
        <input type="text" name="name">
        <label >Сроки проведения</label>
        <input type="text" name="date_start">
        <input type="text" name="date_end">
        <label for="type">Тип</label>
        <select name="type">
            <option value="1">Тип 1</option>
            <option value="2">Тип 2</option>
        </select>
        <div>
            <input type="checkbox" name="is_site" id="is_site">
            <label for="is_site">Опубликовать на сайте</label>
        </div>
        <div>
            <input type="checkbox" name="is_calendar" id="is_calendar">
            <label for="is_calendar">В календарь на главную</label>
        </div>
        <label for="rang">Ранг</label>
        <input type="text" name="rang">

        <label for="description">Описание</label>
        <textarea name="description"></textarea>

        <input type="submit" value="Создать">
    </form>
    <script>
        
    </script>
</div>