<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="little top-anim-1" id="match-info" style="display: none;">
        <img src="" class="tour_logo">
        <div class="score color_main">
            <p class="q_round">3</p>
            <div class="divider color_accent_2"></div>
            <div class="divider sec color_accent_2"></div>
            <p class="q_time">33:32</p>
        </div>
        <p class="info"></p>

        <div class="body color_main">
            <div class="line1">
                <div class="color_accent">
                    <p class="var-home-three">ГАЗ</p>
                </div>
                <div>
                    <p class="var-home-score">5</p>
                </div>
                <div></div>
                <div>
                    <p class="var-away-score">1</p>
                </div>
                <div class="color_accent">
                    <p class="var-away-three">TOP</p>
                </div>

                <div class="team1-col var-homeColor"></div>
                <div class="team2-col var-awayColor"></div>
            
            </div>
            <div class="line2 fouls-container">
                <div class="var-home-fouls-advenced pens">

                </div>
                <div class="var-away-fouls-advenced pens">
                </div>
            </div>
            <div class="line2 pen fade-anim">

                <div class="pens penalties-home">
                    <div class="active"></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>

                </div>
                <div class="pens away penalties-away">
                    <div class="active"></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            
        </div>
    </div>

    <div class="big butt-anim-big" style="display: none;" visible_type="flex">
        <div class="big-content">
            <img src="" class="home-logo">
            <div>
                <div>
                    <div class="name color_accent"><p class="var-home">Газпром</p></div>
                    <div class="score"><p class="var-home-score">4</p></div>
                    <div class="divider"></div>
                    <div class="divider sec color_main"></div> <!--Cюда цвет фона !!!!-->
                    <div class="score"><p class="var-away-score">3</p></div>
                    <div class="name color_accent"><p class="var-away">Not a gasprom</p></div>
                </div>
                <div>
                    <div class="pen fade-anim">
                    <div class="pens penalties-home">
                        <div class="active "></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>

                    </div>
                    </div>
                    <p class="info q_name_round">ПОСЛЕ ПЕРВОГО ТАЙМА</p>
                    <div class="pen fade-anim">
                    <div class="pens away penalties-away">
                        <div class="active"></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    </div>
                </div>
                <div>    
                    <div class="team1-col var-homeColor"></div>
                    <div class="team2-col var-awayColor"></div>
                </div>
            </div>
            <img src="" class="away-logo">
        </div>

    </div>

    <div class="large-container roster roster-container home-roster home-anim" style="display: none" visible_type="flex">
        <div class="large">
            <div>
                <img src=""  style="border-radius: 50%;" class="league_logo">
                <img src="" style="border-radius: 50%;" class="tour_logo">

            </div>
            <div class="color_main">
                <div class="line">
                    <p class="name color_accent var-home">ГАЗПРОМ. CОСТАВ</p>
                    <img src="" class="home-logo" style="height: 60px;margin-left: 9%;transform: translateY(15px);">
                </div>
                <div class="grid roster-content">
                    <div class="color_accent_2">
                        <p>1</p>
                        <p>Газпром Газпромович</p>
                        <img src="">
                    </div>
                    
                </div>
                <div style="display: none;" class="home-representative">
                    <p class="representative-title">Представители</p>
                    <div class="grid"></div>
                </div>
                <div style="display: none;" class="home-couch">
                    <p>Главный тренер</p>
                    <p class="couch-name">Лихие 90ые</p>
                </div>

            </div>
        </div>
    </div>
    <div class="large-container roster roster-container away-roster home-anim" style="display: none" visible_type="flex">
        <div class="large">
            <div>
                <img src=""  style="border-radius: 50%;" class="league_logo">
                <img src="" style="border-radius: 50%;" class="tour_logo">
            </div>
            <div class="color_main">
                <div class="line">
                    <p class="name color_accent var-away">ГАЗПРОМ. CОСТАВ</p>
                    <img src="" class="away-logo" style="height: 60px;margin-left: 9%;transform: translateY(15px);">
                </div>
                <div class="grid roster-content">
                    <div class="color_accent_2">
                        <p>1</p>
                        <p>Газпром Газпромович</p>
                        <img src="" >
                    </div>
                    
                </div>
                <div style="display: none;" class="away-representative">
                    <p class="representative-title">Представители</p>
                    <div class="grid"></div>
                </div>
                <div style="display: none;" class="away-couch">
                    <p>Тренер</p>
                    <p class="couch-name">Лихие 90ые</p>
                </div>

            </div>
        </div>
    </div>

    <div class="large-container mid matchid-anim" style="display: none" visible_type="flex">
        <div class="large">
            <div>
                <img src="" style="border-radius: 100px;" class="league_logo">
                <img src="" class="tour_logo">
            </div>
            <div class="color_main">
                <div class="line">
                    <p class="name color_accent var-tournament">СПОРТМАСТЕРPRO - ГОРОДСКАЯ ЛИГА. ВСЕРОССИЙСКИЙ ФИНАЛ.</p>
                </div>
                <div class="line">
                    <div class="column">
                        <img src="" class="home-logo pulse-anim">
                        <p class="var-home">ВНИИА им. Н.Л. Духова</p>
                    </div>
                    <div class="column">
                        <img src="" class="away-logo pulse-anim">
                        <p class="var-away">ВНИИА им. Н.Л. Духова</p>
                    </div>
                </div>
                <div class="info">
                    <p><span class="var-stadium">Б/О “ИЗУМРУДНОЕ”. НИЖЕГОРОДСКАЯ ОБЛ. </span> <span class="var-match-date">15 МАЯ 2024 ГОД </span> <span class="var-tour">2</span>-<span>й</span> тур</p>
                </div>

            </div>
        </div>
    </div>



<!--NOTIFICATIONS-->

    <!-- <div class="notif" style="display: none">
        <div class="big-content">
            <img src="logo.png">
            <div>
                <div>
                    <div class="name"><p>32</p><p>Газпром Газпромович</p></div>
                </div>
                <div>
                    <p class="info">8 мячей в 19 играх</p>
                </div>
                <div>    
                    <div class="team1-col"></div>
                </div>
            </div>
            <svg width="79" height="42" viewBox="0 0 79 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M78.6016 0.500366L48.0938 3.55115V41.686L78.6016 37.1098V0.500366Z" fill="#B72020"/>
                <path d="M31.4043 0.500366L0.896484 3.55115V41.686L31.4043 37.1098V0.500366Z" fill="#EEC810"/>
            </svg>
        </div>

    </div>

    <div class="notif" style="display: none">
        <div class="big-content">
            <img src="logo.png">
            <div>
                <div>
                    <div class="name"><p>32</p><p>Газпром Газпромович</p></div>
                </div>
                <div>
                    <p class="info">8 мячей в 19 играх</p>
                </div>
                <div>    
                    <div class="team1-col"></div>
                </div>
                
            </div>
            <img src="Face.jpeg" class="face">
        </div>

    </div> -->

</body>
</html>