<div class="body">
    <header>
        <div class="header_block header_hide_navbar">
            <p class="header_text icon" id="header_hide_navbar_icon"></p>
        </div>

        <div class="filler"></div>
        
        <div class="header_block">
            <p class="header_text">Тариф: Оплачен до <p class="header_text header_tariff_date">11.11.2020</p></p>
        </div>

        <div class="header_block">
            <p class="header_text">Товарищеский матч</p>
        </div>

        <div class="header_block header_icon">
            <p class="header_text icon" id="header_account">Аккаунт</p>
            <div class="logout" id="logout_btn"><p>Выйти</p></div>
        </div>
    </header>
    <style>
        .logout {
            display: none;
            position: absolute;
            top: 32px;
            right: 4px;
            background: red;
            color: white;
            padding: 2px 20px;
            cursor: pointer;
            z-index: 10;

        }
        .logout.active {
            display: block;
            
        }
    </style>
    <div class="content" id="lk_main">