
<div class="login_container">
    <div class="login_content reg">
        <form id="regForm">

            <div class="reg_body">
                <div class="form-group">
                    <p class="page_title">Регистрация</p>
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Название лиги" class="text_form text" id="reg_league" name="league">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Телефон" class="text_form text tel_input" name="tel">
                </div>
                <div class="form-group">
                    <input type="email" placeholder="Email" class="text_form text email_input" id="reg_email" name="email" required>

                    <input type="text" placeholder="Имя" class="text_form text" id="reg_name" name="name" required>
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Фамилия" class="text_form text" id="reg_secname" name="surname">
                    <input type="password" placeholder="Пароль" class="text_form text" id="reg_password" name="password" required>
                </div>
                <div class="form-group">
                    <input type="submit" value="Зарегистрироваться" class="button green_button">
                </div>
            </div>
            <div class="login_footer">
                <p>Нажимая кнопку "Зарегистрироваться", Вы принимаете условия <a target="_blank" href="/user_agreement">"Пользовательского соглашения"</a></p>
                <br>
                <a href="/login" class="reg_link">Вход</a>
            </div>
        </form>
    </div>
</div>