<div class="registration">
    <form id="regForm">
        <h1>Регистрация</h1>
        <label for="email">Email</label>
        <input type="text" name="email"/>
        <label for="password">Password</label>
        <input type="password" name="password"/>
        <label for="password">Повторите пароль</label>
        <input type="password" name="passwordConfirm"/>
        <input type="submit" value="Зарегестрироваться" />
    </form>
</div>