
<div class="login_container">
    <div class="login_content">
        <div class="login_header">
            <p class="page_title">Восстановление пароля</p>
        </div>
        <form id="resetForm">
            <div class="login_body">
                <div class="form-group">
                    <input type="email" placeholder="Email" class="text_form text email_input" id="login_email" name="email">
                </div>
                <div class="form-group">
                    <input type="submit" value="Вход" class="button green_button">
                </div>
            </div>
            <div class="login_footer">
                <a href="/login" class="reg_link">Вход</a>
            </div>
        </form>
    </div>
</div>