
	<div class="img-loader"></div>
	<div class="flexstart">
		<div class="little" id="flexstart">
			<div id="top-container">
				<div id="scor-container">

					<div id="top-row-1">
						<div class="bgleft-apl var-homeColor" style="background-color: rgb(0, 0, 0); color: rgb(255, 255, 255);">
							<div id="top-home-logo"><img class="home-logo" src="https://st.joinsport.io/team/1385934/logo/6672b20874dec.png" width="87px" height="87px"></div>
							<div class="var-home-short" id="top-home-team-name">Cборная Минска</div>
							<div class="score-value var-home-score">0</div>
						</div>
						<div class="top-center-container">

							<div id="top-score">
								<div id="top-score-txt">
									<div id="flash"></div>
									<div class="logo-rk"></div>
								</div>
								<div id="top-series">
									<!-- <div class="var-home-series" id="top-series-home">0</div> -->
									<div id="top-series-txt" style="display: none;">в серии</div>
									<!-- <div class="var-away-series" id="top-series-away">0</div> -->
								</div>
							</div>
							<div id="top-match-info">
								<div id="fouls" class="fouls-container" style="display: none;">
									<div class="var-home-fouls" id="home-fouls">0</div>
									<div id="txt-fouls">Фолы</div>
									<div class="var-away-fouls" id="away-fouls">0</div>
								</div>
								<div id="timer-round">
									<div class="var-time" id="top-timer">00:00</div>
									<div id="time-no" class="roundnum"><span>1</span> <span>Т</span></div>
								</div>
							</div>
						</div>
						<div class="bgright-apl var-awayColor" style="background-color: rgb(255, 17, 153); color: rgb(255, 255, 255);">
							<div class="score-value var-away-score">0</div>
							<div class="var-away-short" id="top-away-team-name">Могилевская область</div>
							<div id="top-away-logo"><img class="away-logo" src="https://st.joinsport.io/team/1385936/logo/6672b28ee7926.png" width="87px" height="87px"></div>
						</div>
					</div>



					<div id="top-row-2">

					</div>



				</div>
			</div>
		</div>
	</div>
	<div class="big" id="bottom-scor-container" style="display: block;">
		<div id="goals-container">
			<table cellpadding="0" cellspacing="0" border="0" id="goals-table">
				<tbody><tr>
					<td style="width: 600px;" valign="bottom">
						<div class="goals-home"></div>
					</td>
					<td style="width: 600px;" valign="bottom">
						<div class="goals-away"></div>
					</td>
				</tr>
			</tbody></table>
		</div>
		<div id="bottom-row-0"></div>
		<div id="bottom-row-1">

			<div class="var-homeColor big-bg-home" style="background-color: rgb(0, 0, 0); color: rgb(255, 255, 255);">
				<div id="home-logo"><img class="home-logo" src="https://st.joinsport.io/team/1385934/logo/6672b20874dec.png" width="87px" height="87px"></div>
				<div class="var-home" id="big-home-team-name">Cборная Минска</div>
			</div>
			<div id="big-score">
				<div id="score-txt">
					<span class="var-home-score var-homeTextColor" style="color: rgb(255, 255, 255);">0</span>
					<div id="big-flash"></div>
					<div class="big-logo-rk"></div>
					<span class="var-away-score var-awayTextColor" style="color: rgb(255, 255, 255);">0</span>
				</div>
				<div id="big-series">
					<!-- <div class="var-home-series" id="big-series-home">0</div> -->
					<div id="big-series-txt" style="display: none;">в серии</div>
					<!-- <div class="var-away-series" id="big-series-away">0</div> -->
				</div>
			</div>
			<div class="var-awayColor big-bg-away" style="background-color: rgb(255, 17, 153); color: rgb(255, 255, 255);">
				<div class="var-away" id="big-away-team-name">Могилевская область</div>
				<div id="away-logo"><img class="away-logo" src="https://st.joinsport.io/team/1385936/logo/6672b28ee7926.png" width="87px" height="87px"></div>
			</div>
		</div>
		<div id="bottom-row-2">
			<div id="penalties-home">
				<div class="pen" style="display: block;">
					<div class="penaltie" style="background-color: var(--pen-clear);"></div>
					<div class="penaltie" style="background-color: var(--pen-clear);"></div>
					<div class="penaltie" style="background-color: var(--pen-clear);"></div>
					<div class="penaltie" style="background-color: var(--pen-clear);"></div>
					<div class="penaltie" style="background-color: var(--pen-clear);"></div>
				</div>
			</div>
			<div id="match-info">
				<div class="var-label" style="display: none;">Начало матча</div>
				<div class="pen" style="display: block;">
					<div class="var-penalties-home" style="display: inline-block;margin-right: 90px;">0</div>Пенальти<div style="display: inline-block;margin-left: 90px;" class="var-penalties-away">0</div>
				</div>
			</div>
			<div id="penalties-away">
				<div class="pen" style="display: block;">
					<div class="penaltie" style="background-color: var(--pen-clear);"></div>
					<div class="penaltie" style="background-color: var(--pen-clear);"></div>
					<div class="penaltie" style="background-color: var(--pen-clear);"></div>
					<div class="penaltie" style="background-color: var(--pen-clear);"></div>
					<div class="penaltie" style="background-color: var(--pen-clear);"></div>
				</div>
			</div>
		</div>
		<!-- 		<div id="bottom-row-3">


			<div id="additional-txt">Счет в серии 0-2</div>


			</div> -->
	</div>



	<div class="mid" id="matchid-container">
		<div id="middle">
			<div id="matchid">
				<div class="date-time-tournament">
					<div class="flex-row bg">
						<div id="date" class="var-match-date-text">20 июня</div>
						<div id="slash">/</div>
						<div id="time" class="var-match-time">10:00</div>
					</div>
					<div class="tournament-name var-tournament">Cпартакиада 2024</div>
				</div>
				<div class="field-tour">
					<div class="flex-row bg">
						<div id="pointer"></div>
						<div id="field" class="var-stadium">Спорткомплекс «Виктория» (Гродно)</div>
					</div>
					<div class="flex-row bg var-tour-display">
						<div id="tournament">Чемпионат</div>
						<div id="tour"><span class="var-tour">2</span> тур</div>
					</div>
				</div>
				<div class="teams">
					<div class="big-team">
						<div class="big-logo"><img class="home-logo" src="https://st.joinsport.io/team/1385934/logo/6672b20874dec.png"></div>
						<div class="big-name var-home">Cборная Минска</div>
					</div>
					<div class="divider-x"></div>
					<div class="big-team">
						<div class="big-logo"><img class="away-logo" src="https://st.joinsport.io/team/1385936/logo/6672b28ee7926.png"></div>
						<div class="big-name var-away">Могилевская область</div>
					</div>
				</div>
			</div>
		</div>
	</div>








	<div class="refs" id="ref-container">
		<div class="referees ref-animation">
			<div class="ref-flex">
				<div class="ev-player"><img class="ev-player-img" src="/themes/citychamp/img/ref.svg" alt="ref"></div>
				<div class="ev-txt">
					<div class="ev-line-1"><span class="ev-name var-ref-pervyj-suda-name"></span></div>
					<div class="ev-line-2"><span class="ev-add-txt var-ref-0-position">Первый судья</span></div>
				</div>
			</div>
			<div class="ref-flex">
				<div class="ev-player"><img class="ev-player-img" src="/themes/citychamp/img/ref.svg" alt="ref"></div>
				<div class="ev-txt">
					<div class="ev-line-1"><span class="ev-name var-ref-vtoroj-suda-name"></span></div>
					<div class="ev-line-2"><span class="ev-add-txt">Второй судья</span></div>
				</div>
			</div>
			<div class="ref-flex">
				<div class="ev-player"><img class="ev-player-img" src="/themes/citychamp/img/ref.svg" alt="ref"></div>
				<div class="ev-txt">
					<div class="ev-line-1"><span class="ev-name var-ref-tretij-suda-name"></span></div>
					<div class="ev-line-2"><span class="ev-add-txt">Третий судья</span></div>
				</div>
			</div>
		</div>
	</div>
	<div class="roster-container home-roster">
		<div class="roster-main-div">
			<div class="sostav">
				<div class="sostav-txt">Состав: </div>
				<div class="roster-teamname var-home">Cборная Минска</div>
			</div>
			<div class="roster-content">
				<div class="roster-row-1">
					<div class="roster-logo">
						<img class="home-logo" width="230px" height="230px" alt="logo" src="https://st.joinsport.io/team/1385934/logo/6672b20874dec.png">
					</div>
					<div class="roster-coach">
						<span class="coach-icon"><img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" class="var-home-coach-photo"></span>
						<span class="var-homeCoach"></span>
					</div>
				</div>
				<div class="lineup-coach">
					<div class="lineup">
						<div class="lineup-1">
							<div class="heading">Основной состав</div>
							<div class="start var-roster-home-start"></div>
						</div>
						<div class="lineup-2">
							<div class="heading">Запасные игроки</div>
							<div class="reserv var-roster-home-reserv"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="roster-container away-roster">
		<div class="roster-main-div">
			<div class="sostav">
				<div class="sostav-txt">Состав: </div>
				<div class="roster-teamname var-away">Могилевская область</div>
			</div>
			<div class="roster-content">
				<div class="roster-row-1">
					<div class="roster-logo">
						<img class="away-logo" width="230px" height="230px" alt="logo" src="https://st.joinsport.io/team/1385936/logo/6672b28ee7926.png">
					</div>
					<div class="roster-coach">
						<span class="coach-icon"><img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" class="var-away-coach-photo"></span>
						<span class="var-awayCoach"></span>
					</div>
				</div>
				<div class="lineup-coach">
					<div class="lineup">
						<div class="lineup-1">
							<div class="heading">Основной состав</div>
							<div class="start var-roster-away-start"></div>
						</div>
						<div class="lineup-2">
							<div class="heading">Запасные игроки</div>
							<div class="reserv var-roster-away-reserv"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="event-container" id="test" style="position: absolute; bottom: 210px;">
		<div class="ev-flex">
			<div class="ev-player"><img class="ev-player-img" src="/img/photo_thumb.png" alt="palyer"></div>
			<div class="ev-txt">
				<div class="ev-line-1"><span class="ev-name">Жигалко Владимир</span></div>
				<div class="ev-line-2"><span class="ev-add-txt">Столица</span></div>
			</div>
			<div class="ev-icon">
				<div class="ev-logo"></div>
				<div class="ev-goal"></div>
				<div class="ev-yellow"></div>
				<div class="ev-red"></div>
			</div>
		</div>
	</div>


	<div id="weather_wrapper">
		<div class="weather">
			<div class="weatherCard">
				<div class="currentTemp">
					<span class="temp"></span>
					<span class="location var-town"></span>
				</div>
				<div class="currentWeather">
					<span class="conditions"></span>
					<div class="info">
						<span class="rain"></span>
						<span class="wind"></span>
					</div>
				</div>
			</div>
		</div>
	</div>

