<nav id="dashboard_nav">
        <ul id="dashboard_nav_list">
            <li data-href="profile">Профиль</li>
            <li data-href="tournament">Мои турниры</li>
            <li data-href="match">Мои матчи</li>
            <li data-href="team">Команды</li>
            <li data-href="player">Игроки</li>
            <li data-href="representative">Представители команд</li>
            <li data-href="transfer">Трансферы</li>
            <li data-href="judge">Судьи</li>
            <li data-href="stadium">Стадионы</li>
            <li data-href="season">Сезоны</li>
        </ul>
</nav>
