<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="visualizer.css">
</head>
<body>
	<div class="little" id="main" style="display: none;">
		<div id="container">
			<div id="scoreboard">
				<div class="left">
					<div class="bgleft" style="border-bottom-color: rgb(255, 17, 153);">
						<div class="top-logo"><img class="home-logo" src=""></div>
						<div class="home-team var-home-short">Cборная Минска</div>
					</div>
					<div class="pen" style="display: none;">
						<div class="penalties-home">
							<div class="penaltie" style="background-color: var(--pen-clear);"></div>
							<div class="penaltie" style="background-color: var(--pen-clear);"></div>
							<div class="penaltie" style="background-color: var(--pen-clear);"></div>
							<div class="penaltie" style="background-color: var(--pen-clear);"></div>
							<div class="penaltie" style="background-color: var(--pen-clear);"></div>
						</div>
					</div>
				</div>
				<div class="center">

					<div class="line-0 fouls-container" style="display: none;">
						<div id="fouls">
							<div class="var-home-fouls" id="home-fouls">0</div>
							<div id="txt-fouls">Фолы</div>
							<div class="var-away-fouls" id="away-fouls">0</div>
						</div>
					</div>


					<div class="line-1 color_accent">
						<table cellspacing="0" cellpadding="0" border="0" align="center">
							<tbody><tr>
								<td class="score var-home-score" align="right">0</td>
								<td class="divider" align="center">:</td>
								<td class="score var-away-score" align="left">5</td>
							</tr>
							<tr style="display: none;">
								<td align="right" class="penalties">( 2</td>
								<td align="center" class="penalties">:</td>
								<td align="left" class="penalties">3 )</td>
							</tr>
						</tbody></table>
					</div>
					<div class="line-2 color_accent_2">
						<table cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
							<tbody><tr>
								<td align="left" width="40px">
									<div id="time-no" class="roundnum q_round"><span>1</span> <span>Т</span></div>
								</td>
								<td align="center" width="120px">
									<div class="var-time q_time" id="top-timer">09:57</div>
								</td>
								<td align="right" width="40px">
									<div id="additional" style="display: none;"><span>+</span><span>2</span></div>
								</td>
							</tr>
						</tbody></table>
					</div>
				</div>


				<div class="right">
					<div class="bgright" style="border-bottom-color: rgb(0, 0, 0);">
						<div class="away-team var-away-short">Могилевская область</div>
						<div class="top-logo"><img class="away-logo" src=""></div>
					</div>
					<div class="pen" style="display: none;">
						<div class="penalties-away">
							<div class="penaltie" style="background-color: var(--pen-clear);"></div>
							<div class="penaltie" style="background-color: var(--pen-clear);"></div>
							<div class="penaltie" style="background-color: var(--pen-clear);"></div>
							<div class="penaltie" style="background-color: var(--pen-clear);"></div>
							<div class="penaltie" style="background-color: var(--pen-clear);"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom">
		<div class="big" id="main-big" >
			<div id="container-big">
				<div id="scoreboard-big">
					<div class="bgleft bigwidth" style="border-bottom-color: rgb(255, 17, 153);">
						<div class="top-logo"><img class="home-logo" src=""></div>
						<div class="home-team bigfont var-home">Cборная Минска</div>
					</div>
					<div class="center" id="center-big">
						<div class="line-2 color_accent_2">
							<div id="info" class="var-label var-time q_time">09:57</div>
						</div>
						<div class="line-1 color_accent">
							<table cellspacing="0" cellpadding="0" border="0" align="center">
								<tbody><tr>
									<td class="score var-home-score" align="right">0</td>
									<td class="divider" align="center">:</td>
									<td class="score var-away-score" align="left">5</td>
								</tr>
								<!--	<tr>

								<td align="right" class="penalties">( 2</td>

								<td align="center" class="penalties">:</td>

								<td align="left" class="penalties">3 )</td>

							</tr>

						-->
							</tbody></table>
						</div>
					</div>
					<div class="bgright bigwidth" style="border-bottom-color: rgb(0, 0, 0);">
						<div class="away-team bigfont var-away">Могилевская область</div>
						<div class="top-logo"><img class="away-logo" src=""></div>
					</div>
				</div>
				<div id="bottom-row-2">
					<div class="pen">
						<div class=" penalties-home" >
							<div class="penaltie" style="background-color: var(--pen-clear);"></div>
							<div class="penaltie" style="background-color: var(--pen-clear);"></div>
							<div class="penaltie" style="background-color: var(--pen-clear);"></div>
							<div class="penaltie" style="background-color: var(--pen-clear);"></div>
							<div class="penaltie" style="background-color: var(--pen-clear);"></div>
						</div>
					</div>
					<div id="match-info" class="color_accent">
						<div class="var-label q_name_round" style="display: none;">Начало матча</div>
						<div class="pen" >
							<div class="var-penalties-home" style="display: inline-block;margin-right: 90px;">0</div>Пенальти<div style="display: inline-block;margin-left: 90px;" class="var-penalties-away">0</div>
						</div>
					</div>
					<div class="pen">
						<div class="penalties-away" >
							<div class="penaltie" style="background-color: var(--pen-clear);"></div>
							<div class="penaltie" style="background-color: var(--pen-clear);"></div>
							<div class="penaltie" style="background-color: var(--pen-clear);"></div>
							<div class="penaltie" style="background-color: var(--pen-clear);"></div>
							<div class="penaltie" style="background-color: var(--pen-clear);"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="big-2">
		<div class="live" id="main-big-2">
			<div id="container-big-2">
				<div id="scoreboard-big-2">
					<div class="bgleft bigwidth" style="border-bottom-color: rgb(255, 17, 153);">
						<div class="top-logo"><img class="home-logo" src=""></div>
						<div class="home-team bigfont var-home">Cборная Минска</div>
					</div>
					<div class="center" id="center-big-2">
						<div class="line-1">
							<table cellspacing="0" cellpadding="0" border="0" align="center">
								<tbody><tr>
									<td class="score var-home-score" align="right">0</td>
									<td class="divider" align="center">:</td>
									<td class="score var-away-score" align="left">5</td>
								</tr>
								<!--	<tr>

								<td align="right" class="penalties">( 2</td>

								<td align="center" class="penalties">:</td>

								<td align="left" class="penalties">3 )</td>

							</tr>

						-->
							</tbody></table>
						</div>
					</div>
					<div class="bgright bigwidth" style="border-bottom-color: rgb(0, 0, 0);">
						<div class="away-team bigfont var-away">Могилевская область</div>
						<div class="top-logo"><img class="away-logo" src=""></div>
					</div>
				</div>
				<div class="stats">
					<div class="stats-row-home">
						<div class="icon"><img src="/img/goal.svg"></div>
						<div class="minute-home">15'</div>
						<div class="player-home">Дмитрий Никитенко</div>
					</div>
					<div class="center-line"></div>
					<div class="stats-row-away">
						<div class="icon"><img class="ev_type" src="/img/goal.svg"></div>
						<div class="minute-away">15'</div>
						<div class="player-away">Дмитрий Никитенко</div>
					</div>
				</div>
				<div class="stats">
					<div class="stats-row-home">
						<div class="icon"><img src="img/goal.svg"></div>
						<div class="minute-home">15'</div>
						<div class="player-home">Дмитрий Никитенко</div>
					</div>
					<div class="center-line"></div>
					<div class="stats-row-away">
						<div class="icon"><img src="/img/goal.svg"></div>
						<div class="minute-away">15'</div>
						<div class="player-away">Дмитрий Никитенко</div>
					</div>
				</div>
				<div class="stats">
					<div class="stats-row-home">
						<div class="icon"><img src="/img/goal.svg"></div>
						<div class="minute-home">15'</div>
						<div class="player-home">Дмитрий Никитенко</div>
					</div>
					<div class="center-line"></div>
					<div class="stats-row-away">
						<div class="icon"><img src="/img/goal.svg"></div>
						<div class="minute-away">15'</div>
						<div class="player-away">Дмитрий Никитенко</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="mid">
		<div id="middle">
			<div id="matchid">
				<div class="date-time-tournament">
					<div class="flex-row">
						<div id="date" class="var-match-date-text">20 июня</div>
						<div id="slash">/</div>
						<div id="time" class="var-match-time">10:00</div>
					</div>
					<div class="tournament-name var-tournament">Cпартакиада 2024</div>
				</div>
				<div class="field-tour">
					<div class="flex-row">
						<div id="pointer"></div>
						<div id="field" class="var-stadium">Спорткомплекс «Виктория» (Гродно)</div>
					</div>
					<div class="flex-row">
						<div id="tournament">Чемпионат</div>
						<div id="tour"><span class="var-tour">2</span> тур</div>
					</div>
				</div>
				<div class="teams">
					<div class="big-team">
						<div class="big-logo"><img class="home-logo" src=""></div>
						<div class="big-name var-home">Cборная Минска</div>
					</div>
					<div class="divider-x"></div>
					<div class="big-team">
						<div class="big-logo"><img class="away-logo" src=""></div>
						<div class="big-name var-away">Могилевская область</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="roster-container home-roster">
		<div class="roster-main-div color_main border_color_accent">
			<div class="sostav">
				<div class="sostav-txt">Состав: </div>
				<div class="sostav-txt-sec var-away">Cборная Минска</div>
				<div class="filler"></div>
				<img class="home-logo" width="150px" height="150px" alt="logo" src="">

			</div>
			<div class="roster-content">
				<div class="roster-teamate">
					<p class="roster-teamate-name">Name Nonamovich</p>
					<img width="40" height="40" src="">
				</div>
				<div class="roster-teamate">
					<p class="roster-teamate-name">Name Nonamovich</p>
					<img width="40" height="40" src="">
				</div>
				<div class="roster-teamate">
					<p class="roster-teamate-name">Name Nonamovich</p>
					<img width="40" height="40" src="">
				</div>
				<div class="roster-teamate">
					<p class="roster-teamate-name">Name Nonamovich</p>
					<img width="40" height="40" src="">
				</div>
				<div class="roster-teamate">
					<p class="roster-teamate-name">Name Nonamovich</p>
					<img width="40" height="40" src="">
				</div>
				<div class="roster-teamate">
					<p class="roster-teamate-name">Name Nonamovich</p>
					<img width="40" height="40" src="">
				</div>
				<div class="roster-teamate">
					<p class="roster-teamate-name">Name Nonamovich</p>
					<img width="40" height="40" src="">
				</div>
				<div class="roster-teamate">
					<p class="roster-teamate-name">Name Nonamovich</p>
					<img width="40" height="40" src="">
				</div>



			</div>
		</div>
	</div>
	<div class="roster-container away-roster">
		<div class="roster-main-div color_main border_color_accent">
			<div class="sostav">
				<div class="sostav-txt">Состав: </div>
				<div class="sostav-txt-sec var-away">Cборная Минска</div>
				<div class="filler"></div>
				<img class="home-logo" width="150px" height="150px" alt="logo" src="">

			</div>
			<div class="roster-content">
				<div class="roster-teamate">
					<p class="roster-teamate-name">Name Nonamovich</p>
					<img width="40" height="40" src="">
				</div>
				<div class="roster-teamate">
					<p class="roster-teamate-name">Name Nonamovich</p>
					<img width="40" height="40" src="">
				</div>
				<div class="roster-teamate">
					<p class="roster-teamate-name">Name Nonamovich</p>
					<img width="40" height="40" src="">
				</div>
				<div class="roster-teamate">
					<p class="roster-teamate-name">Name Nonamovich</p>
					<img width="40" height="40" src="">
				</div>
				<div class="roster-teamate">
					<p class="roster-teamate-name">Name Nonamovich</p>
					<img width="40" height="40" src="">
				</div>
				<div class="roster-teamate">
					<p class="roster-teamate-name">Name Nonamovich</p>
					<img width="40" height="40" src="">
				</div>
				<div class="roster-teamate">
					<p class="roster-teamate-name">Name Nonamovich</p>
					<img width="40" height="40" src="">
				</div>
				<div class="roster-teamate">
					<p class="roster-teamate-name">Name Nonamovich</p>
					<img width="40" height="40" src="">
				</div>



			</div>
		</div>
	</div>


	<div class="balloon-container">
		<div class="balloon" style="display:none;">
			<div class="balloonbg">
				<div class="balloon-logo">
					<!-- <img src="../img/home-logo-big.png"> -->
				</div>
				<div class="balloon-info">
					<div id="balloon-line">
						<div class="balloon-line-1">
							<div class="player-balloon">Дмитрий Никитенко</div>
						</div>
						<div class="balloon-line-2">
							<div id="balloon-team-name">Команда</div>
							<!--	<div class="minute-balloon"></div> -->
						</div>
					</div>
					<div class="icon-balloon"><img class="ev_type"></div>
				</div>
			</div>
		</div>
	</div>



	<div class="ref-container">
		<div class="balloon ref-1" style="display: none;">
			<div class="balloonbg ref-bg">
				<div class="balloon-logo">
					<img src="/img/ref.svg">
				</div>
				<div class="balloon-info">
					<div id="balloon-line">
						<div class="balloon-line-1">
							<div class="player-balloon">Андрей Дубицкий</div>
						</div>
						<div class="balloon-line-2">
							<div id="balloon-team-name">Первый судья</div>
							<!--	<div class="minute-balloon"></div> -->
						</div>
					</div>
					<!-- <div class="icon-balloon"><img class="ev_type"></div> -->
				</div>
			</div>
		</div>


		<div class="balloon ref-2" style="display: none;">
			<div class="balloonbg ref-bg">
				<div class="balloon-logo">
					<img src="/img/ref.svg">
				</div>
				<div class="balloon-info">
					<div id="balloon-line">
						<div class="balloon-line-1">
							<div class="player-balloon">Павел Шупилов</div>
						</div>
						<div class="balloon-line-2">
							<div id="balloon-team-name">Второй судья</div>
							<!--	<div class="minute-balloon"></div> -->
						</div>
					</div>
					<!-- <div class="icon-balloon"><img class="ev_type"></div> -->
				</div>
			</div>
		</div>


		<div class="balloon ref-3" style="display: none;">
			<div class="balloonbg ref-bg">
				<div class="balloon-logo">
					<img src="/img/ref.svg">
				</div>
				<div class="balloon-info">
					<div id="balloon-line">
						<div class="balloon-line-1">
							<div class="player-balloon">Денис Шарабуро</div>
						</div>
						<div class="balloon-line-2">
							<div id="balloon-team-name">Третий судья</div>
							<!--	<div class="minute-balloon"></div> -->
						</div>
					</div>
					<!-- <div class="icon-balloon"><img class="ev_type"></div> -->
				</div>
			</div>
		</div>
	</div>

	<div id="weather_wrapper">
		<div class="weather">
			<div class="weatherCard">
				<div class="currentTemp">
					<span class="temp"></span>
					<span class="location var-town"></span>
				</div>
				<div class="currentWeather">
					<span class="conditions"></span>
					<div class="info">
						<span class="rain"></span>
						<span class="wind"></span>
					</div>
				</div>
			</div>
		</div>
	</div>







</body>
</html>