<%- include('members_header.ejs') %>
<div class="content-body body-background members-body">
    <div class="h_flex white">
        <img src="<%= commentator.img || '/static/styles/icons/logo.jpg' %>" class="" width="250" height="250">
        <div class="v_flex left">
            <h2 class="nm-top"><%= commentator.fio %></h2>
            <p class="">Дата рождения: <span> <%= commentator.birthday %></span></p>
        </div>
        
    </div> 
    

</div>