<div class="content-header less-padding">
            
    <div class="h_flex">
        <h2>Участники</h2>
        <div class="filler"></div>
        <div class="h_flex table-header small_buttons">
        <input type="button" value="Команды" class="selected-table-button">
        <input type="button" value="Игроки" class="">
        <input type="button" value="Судьи" class="">
        </div>
        <div class="filler"></div>
        <!-- <select class="big-select">
            <option>2024</option>
            <option>2023</option>
        </select> -->
    </div>
</div>