<div class="content-header less-padding">
            
    <div class="h_flex">
        <h2>Участники</h2>
        <div class="filler"></div>
        <div class="h_flex table-header small_buttons members_header">
            <input type="button" value="Команды" class="selected-table-button fans_link">
            <input type="button" value="Игроки" class="fans_link" data-href="players">
            <input type="button" value="Судьи" class="fans_link" data-href="judges">
            <input type="button" value="Комментаторы" class="fans_link" data-href="commentators">
        </div>
        <div class="filler"></div>
        <!-- <select class="big-select">
            <option>2024</option>
            <option>2023</option>
        </select> -->
    </div>
</div>