<%- include('members_header.ejs') %>
<div class="grid-body">
    <%- include('team_nav.ejs') %>
    <div class="content-body body-background">
        <div class="h_flex white">
            <img src="../lk/icons/team.jpg" class="" width="200" height="200">
            <div class="v_flex left">
                <h2 class="nm-top">Команда 1</h2>
                <p class="">Последние матчи:</p>
                <div class="h_flex">
                    <p class="dark-blue nm-block">В</p>
                    <p class="dark-blue nm-block">В</p>
                    <p class="dark-blue nm-block">В</p>
                    <p class="dark-blue nm-block">В</p>
                    <p class="dark-gray nm-block">Н</p>
                </div>
            </div>
        </div>
        <div class="h_flex white mt">
            <div class="filler"></div>
            <p>Игры: <div class="dark-blue circle">7</div></p>
            <div class="filler"></div>
            <p>Победы: <div class="dark-blue circle">5</div></p>
            <div class="filler"></div>
            <p>Голы: <div class="dark-blue circle">32</div></p>
            <div class="filler"></div>
            <p>Турниры: <div class="dark-blue circle">2</div></p>
            <div class="filler"></div>
        </div>
        <h3 class="bmt">Прошедшие матчи</h3>
        <div class="grid-player match">
            <div class="comming-match">
                <p class="p-title">Товарищеский матч</p>
                <div class="comming-match-block">
                    <p class="">1 июня / 19:00</p>
                    <div class="h_flex">
                    <a href="#">- Команда 1</a>
                    <div class="filler"></div>
                    <p class="dark-blue commands">4</p>
                    </div>
                    <div class="h_flex">
                        <a href="#">- Команда 2</a>
                        <div class="filler"></div>
                        <p class="dark-blue commands">6</p>
                    </div>
                </div>
            </div>
            <div class="comming-match">
                <p class="p-title">Товарищеский матч</p>
                <div class="comming-match-block">
                    <p class="">1 июня / 19:00</p>
                    <div class="h_flex">
                    <a href="#">- Команда 1</a>
                    <div class="filler"></div>
                    <p class="dark-blue commands">4</p>
                    </div>
                    <div class="h_flex">
                        <a href="#">- Команда 2</a>
                        <div class="filler"></div>
                        <p class="dark-blue commands">6</p>
                    </div>
                </div>
            </div>
            <div class="comming-match">
                <p class="p-title">Товарищеский матч</p>
                <div class="comming-match-block">
                    <p class="">1 июня / 19:00</p>
                    <div class="h_flex">
                    <a href="#">- Команда 1</a>
                    <div class="filler"></div>
                    <p class="dark-blue commands">4</p>
                    </div>
                    <div class="h_flex">
                        <a href="#">- Команда 2</a>
                        <div class="filler"></div>
                        <p class="dark-blue commands">6</p>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="bmt">Будущие матчи</h3>
        <div class="grid-player match">
            <div class="comming-match">
                <p class="p-title">Товарищеский матч</p>
                <div class="comming-match-block">
                <p class=" dark-blue">1 июня / 19:00</p>
                <a href="#">- Команда 1</a>
                <a href="#">- Команда 2</a>
            </div>
            </div>
        </div>
    </div>
</div>