<%- include('global/header.ejs') %>
        <div class="content" >
        <% if (type === 'login') { %> 
            <%- include('partials/loginForm.ejs') %>
        <% } else if (type === 'registration') { %>
            <%- include('partials/regForm.ejs') %>
        <% } %>
    </div>
<script src="/static/pages/login.js"></script>
<%- include('global/footer.ejs') %> 