<%- include('global/header.ejs') %>
<link rel="stylesheet" href="/static/styles/lk.css">
    <div id="container">
        <%- include('partials/dashboard_nav.ejs') %>
        <%- include('partials/lk_main.ejs') %>
    </div>
<script src="/static/pages/lk.js"></script>
<%- include('global/footer.ejs') %>