<%- include('global/header.ejs') %>
<link rel="stylesheet" href="/static/styles/lk.css">
<style>
    body {
        height: auto;
    }
    .cool_body {
        margin-inline: 20px;
    }
</style>
<div class="cool_body">
    <div class="cool_body_header">
        <div class="tournires_header_header">
            <p class="page_title ">Пользовательское соглашение</p>
        </div>

        
    </div>
    
    <div class="cool_body_content">
        <h3><strong>Пользовательское Соглашение</strong></h3><p>Настоящее Пользовательское Соглашение (Далее Соглашение) регулирует отношения между владельцем sporlive.ru (далее Sporlive или Администрация) с одной стороны и пользователем сайта с другой.<br />Сайт Sporlive не является средством массовой информации.<br /><br />Используя сайт, Вы соглашаетесь с условиями данного соглашения.<br /><strong>Если Вы не согласны с условиями данного соглашения, не используйте сайт Sporlive!<br /><br /></strong></p><h3><strong>Предмет соглашения</strong></h3><p><strong>Администрация предоставляет пользователю право на размещение на сайте следующей информации:<br /><br /></strong></p><h3><strong>Предмет соглашения</strong></h3><p><strong>Администрация предоставляет пользователю право на размещение на сайте следующей информации:<br /></strong>- Текстовой информации<br />- Фотоматериалов<br />- Ссылок на материалы, размещенные на других сайтах<br /><br /></p><h3><strong>Права и обязанности сторон</strong></h3><p><strong>Пользователь имеет право:<br /></strong>- осуществлять поиск информации на сайте<br />- получать информацию на сайте<br />- создавать информацию для сайта<br />- распространять информацию на сайте<br />- копировать информацию на другие сайты с указанием источника<br />- использовать информацию сайта в личных некоммерческих целях<br />- использовать информацию сайта в коммерческих целях без специального разрешения<br /><br /><strong>Администрация имеет право:<br /></strong>- по своему усмотрению и необходимости создавать, изменять, отменять правила<br />- ограничивать доступ к любой информации на сайте<br />- создавать, изменять, удалять информацию<br />- удалять учетные записи<br />- отказывать в регистрации без объяснения причин<br /><br /><strong>Пользователь обязуется:<br /></strong>- обеспечивать сохранность личных данных от доступа третьих лиц<br />- не распространять информацию, которая направлена на пропаганду войны, разжигание национальной, расовой или религиозной ненависти и вражды, а также иной информации, за распространение которой предусмотрена уголовная или административная ответственность<br />- не нарушать работоспособность сайта<br />- не совершать действия, направленные на введение других Пользователей в заблуждение<br />- не передавать в пользование свою учетную запись и/или логин и пароль своей учетной записи третьим лицам<br />- не размещать материалы рекламного, эротического, порнографического или оскорбительного характера, а также иную информацию, размещение которой запрещено или противоречит нормам действующего законодательства РФ<br />- не использовать скрипты (программы) для автоматизированного сбора информации и/или взаимодействия с Сайтом и его Сервисами<br /><br /><strong>Администрация обязуется:<br /></strong>- поддерживать работоспособность сайта за исключением случаев, когда это невозможно по независящим от Администрации причинам.<br />- осуществлять разностороннюю защиту учетной записи Пользователя<br />- предоставить всю доступную информацию о Пользователе уполномоченным на то органам государственной власти в случаях, установленных законом<br /><br /></p><h3><strong>Ответственность сторон</strong></h3><p>- пользователь лично несет полную ответственность за распространяемую им информацию<br />- администрация не несет никакой ответственности за достоверность информации, скопированной из других источников<br />- администрация не несет никакой ответственности за услуги, предоставляемые третьими лицами<br />- в случае возникновения форс-мажорной ситуации (боевые действия, чрезвычайное положение, стихийное бедствие и т. д.) Администрация не гарантирует сохранность информации, размещённой Пользователем, а также бесперебойную работу информационного ресурса<br /><br /></p><h3><strong>Условия действия Соглашения</strong></h3><p>Данное Соглашение вступает в силу при регистрации на сайте.<br />Соглашение действует бессрочно.<br />Администрация оставляет за собой право в одностороннем порядке изменять данное соглашение по своему усмотрению.<br />При изменении соглашения, в некоторых случаях, администрация может оповестить пользователей удобным для нее способом.<br /><br /><br /></p><p>Соглашение разработано на базе юридических документов сервиса <a href="https://praville.ru/">Правилль</a></p>
    </div>
</div>
<%- include('global/footer.ejs') %>
