<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="h_flex">
            <img src="../lk/icons/team.jpg" alt="logo" class="logo" width="100" height="100">
            <div class="v_flex">
            <div class="naming">
                <h1>Сайт болельшиков</h1>
            </div>
            <nav>
                <a class="nav-links" href="bolelshiki_o_lige.html">О лиге</a>
                <a class="nav-links" href="bolelshiki_tournaments.html">Турниры</a>
                <a class="nav-links selected">Участники</a>
            </nav>
            </div>
            <div class="w160"></div>
        </div>
    </header>
    <div class="content">
        <div class="content-header less-padding">
            
            <div class="h_flex">
                <h2>Участники</h2>
                <div class="filler"></div>
                <div class="h_flex table-header small_buttons">
                <input type="button" value="Команды" class="selected-table-button">
                <input type="button" value="Игроки" class="">
                <input type="button" value="Судьи" class="">
                </div>
                <div class="filler"></div>
                <select class="big-select">
                    <option>2024</option>
                    <option>2023</option>
                </select>
            </div>
        </div>
        <div class="content-body body-background members-body">
            <div class="h_flex">
                <input type="text" class="search-form" placeholder="Поиск по названию">
                <input type="button" class="search-button" value="Найти">
                <div class="filler"></div>
                <input type="button" class="search-button" value="Сбросить">
            </div>
            <div class="grid-player member">
                <div class="player-block">
                    <img src="../lk/icons/team.jpg" class="" width="200" height="200">
                    <p>Команда 1</p>
                </div>
                <div class="player-block">
                    <img src="../lk/icons/team.jpg" class="" width="200" height="200">
                    <p>Команда 2</p>
                </div>
                
            </div>
        </div>

        <div class="content-header less-padding">
            
            <div class="h_flex">
                <h2>Участники</h2>
                <div class="filler"></div>
                <div class="h_flex table-header small_buttons">
                <input type="button" value="Команды" class="selected-table-button">
                <input type="button" value="Игроки" class="">
                <input type="button" value="Судьи" class="">
                </div>
                <div class="filler"></div>
                <select class="big-select">
                    <option>2024</option>
                    <option>2023</option>
                </select>
            </div>
        </div>
        <div class="grid-body">
            <div class="content-nav">

                    <p class="nav-menu-item selected">
                        <span class="mr lt"> &lt; </span>
                        <span class="mr gt"> &gt; </span> О команде</p>
                    <p class="nav-menu-item">
                        <span class="mr lt"> &lt; </span>
                        <span class="mr gt"> &gt; </span> Календарь</p>
                    <p class="nav-menu-item">
                        <span class="mr lt"> &lt; </span>
                        <span class="mr gt"> &gt; </span> Статистика</p>
                    <p class="nav-menu-item">
                        <span class="mr lt"> &lt; </span>
                        <span class="mr gt"> &gt; </span> Состав</p>


                        <div class="social-share">
                            <input type="button" class="telegram" value="">
                            <input type="button" class="vk" value="">
                            
                            <input type="button" class="x" value="">
                            <input type="button" class="" value="+">
                        </div>



                        <table class="nav-tournament-table mt">
                            <tr>
                                <th colspan="4">Турнирная таблица</th>
                            </tr>
                            <tr>
                                <td>#</td>
                                <td>Команда</td>
                                <td>И</td>
                                <td>О</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Команда 1</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Команда 2</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td colspan="4"><a href="#">ВСЯ ТАБЛИЦА</a></td>
                            </tr>
                        </table>
                        <table class="nav-tournament-table mt">
                            <tr>
                                <th colspan="4">Календарь</th>
                            </tr>
                            <tr>
                                <td colspan="4">1 июня</td>
                            </tr>
                            <tr>
                                <td>19:00</td>
                                <td>Команда 1</td>
                                <td>-:-</td>
                                <td>Команда 2</td>
                            </tr>
                            <tr>
                                <td colspan="4"><a href="#">ВСË РАССПИСАНИЕ</a></td>
                            </tr>
                        </table>


            </div>
            <div class="content-body body-background">
                <div class="h_flex white">
                    <img src="../lk/icons/team.jpg" class="" width="200" height="200">
                    <div class="v_flex left">
                        <h2 class="nm-top">Команда 1</h2>
                        <p class="">Последние матчи:</p>
                        <div class="h_flex">
                            <p class="dark-blue nm-block">В</p>
                            <p class="dark-blue nm-block">В</p>
                            <p class="dark-blue nm-block">В</p>
                            <p class="dark-blue nm-block">В</p>
                            <p class="dark-gray nm-block">Н</p>
                        </div>
                    </div>
                </div>
                <div class="h_flex white mt">
                    <div class="filler"></div>
                    <p>Игры: <div class="dark-blue circle">7</div></p>
                    <div class="filler"></div>
                    <p>Победы: <div class="dark-blue circle">5</div></p>
                    <div class="filler"></div>
                    <p>Голы: <div class="dark-blue circle">32</div></p>
                    <div class="filler"></div>
                    <p>Турниры: <div class="dark-blue circle">2</div></p>
                    <div class="filler"></div>
                </div>
                <h3 class="bmt">Прошедшие матчи</h3>
                <div class="grid-player match">
                    <div class="comming-match">
                        <p class="p-title">Товарищеский матч</p>
                        <div class="comming-match-block">
                            <p class="">1 июня / 19:00</p>
                            <div class="h_flex">
                            <a href="#">- Команда 1</a>
                            <div class="filler"></div>
                            <p class="dark-blue commands">4</p>
                            </div>
                            <div class="h_flex">
                                <a href="#">- Команда 2</a>
                                <div class="filler"></div>
                                <p class="dark-blue commands">6</p>
                            </div>
                        </div>
                    </div>
                    <div class="comming-match">
                        <p class="p-title">Товарищеский матч</p>
                        <div class="comming-match-block">
                            <p class="">1 июня / 19:00</p>
                            <div class="h_flex">
                            <a href="#">- Команда 1</a>
                            <div class="filler"></div>
                            <p class="dark-blue commands">4</p>
                            </div>
                            <div class="h_flex">
                                <a href="#">- Команда 2</a>
                                <div class="filler"></div>
                                <p class="dark-blue commands">6</p>
                            </div>
                        </div>
                    </div>
                    <div class="comming-match">
                        <p class="p-title">Товарищеский матч</p>
                        <div class="comming-match-block">
                            <p class="">1 июня / 19:00</p>
                            <div class="h_flex">
                            <a href="#">- Команда 1</a>
                            <div class="filler"></div>
                            <p class="dark-blue commands">4</p>
                            </div>
                            <div class="h_flex">
                                <a href="#">- Команда 2</a>
                                <div class="filler"></div>
                                <p class="dark-blue commands">6</p>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="bmt">Будущие матчи</h3>
                <div class="grid-player match">
                    <div class="comming-match">
                        <p class="p-title">Товарищеский матч</p>
                        <div class="comming-match-block">
                        <p class=" dark-blue">1 июня / 19:00</p>
                        <a href="#">- Команда 1</a>
                        <a href="#">- Команда 2</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="content-header less-padding">
            
            <div class="h_flex">
                <h2>Участники</h2>
                <div class="filler"></div>
                <div class="h_flex table-header small_buttons">
                <input type="button" value="Команды" class="selected-table-button">
                <input type="button" value="Игроки" class="">
                <input type="button" value="Судьи" class="">
                </div>
                <div class="filler"></div>
                <select class="big-select">
                    <option>2024</option>
                    <option>2023</option>
                </select>
            </div>
        </div>
        <div class="grid-body">
            <div class="content-nav">

                    <p class="nav-menu-item">
                        <span class="mr lt"> &lt; </span>
                        <span class="mr gt"> &gt; </span> О команде</p>
                    <p class="nav-menu-item selected">
                        <span class="mr lt"> &lt; </span>
                        <span class="mr gt"> &gt; </span> Календарь</p>
                    <p class="nav-menu-item">
                        <span class="mr lt"> &lt; </span>
                        <span class="mr gt"> &gt; </span> Статистика</p>
                    <p class="nav-menu-item">
                        <span class="mr lt"> &lt; </span>
                        <span class="mr gt"> &gt; </span> Состав</p>


                        <div class="social-share">
                            <input type="button" class="telegram" value="">
                            <input type="button" class="vk" value="">
                            
                            <input type="button" class="x" value="">
                            <input type="button" class="" value="+">
                        </div>



                        <table class="nav-tournament-table mt">
                            <tr>
                                <th colspan="4">Турнирная таблица</th>
                            </tr>
                            <tr>
                                <td>#</td>
                                <td>Команда</td>
                                <td>И</td>
                                <td>О</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Команда 1</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Команда 2</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td colspan="4"><a href="#">ВСЯ ТАБЛИЦА</a></td>
                            </tr>
                        </table>
                        <table class="nav-tournament-table mt">
                            <tr>
                                <th colspan="4">Календарь</th>
                            </tr>
                            <tr>
                                <td colspan="4">1 июня</td>
                            </tr>
                            <tr>
                                <td>19:00</td>
                                <td>Команда 1</td>
                                <td>-:-</td>
                                <td>Команда 2</td>
                            </tr>
                            <tr>
                                <td colspan="4"><a href="#">ВСË РАССПИСАНИЕ</a></td>
                            </tr>
                        </table>


            </div>
            <div class="content-body body-background">
                <div class="h_flex white">
                    <img src="../lk/icons/team.jpg" class="" width="200" height="200">
                    <div class="v_flex left">
                        <h2 class="nm-top">Команда 1</h2>
                        <p class="">Последние матчи:</p>
                        <div class="h_flex">
                            <p class="dark-blue nm-block">В</p>
                            <p class="dark-blue nm-block">В</p>
                            <p class="dark-blue nm-block">В</p>
                            <p class="dark-blue nm-block">В</p>
                            <p class="dark-gray nm-block">Н</p>
                        </div>
                    </div>
                </div>
                <div class="h_flex white mt pi">
                    <p class="p-title">Календарь матчей</p>
                    <div class="filler"></div>
                    <select class="big-select">
                        <option>Все время</option>
                        <option>2024</option>
                    </select>
                </div>
                <table class="calendar-match-table mt">
                    <tr>
                        <th colspan="4" id="raspis_title">Товарищеский матч</th>
                    </tr>     
                    <tr>
                        <td>
                            <div class="v_flex">
                                <p>01.06 / 19:00</p>
                                <p>ФОК ТУЛГУ</p>
                            </div>
                        </td>  
                        <td>
                            <div class="h_flex">
                                <p>Команда 1</p>
                                <img src="../lk/icons/team.jpg" class="" width="70" height="70">
                            </div>
                        </td>  
                        
                        <td>-:-</td>  
                        <td>                          
                            <div class="h_flex">
                                <img src="../lk/icons/team.jpg" class="" width="70" height="70">
                                <p>Команда 2</p>
                            </div>
                        </td>

                    </tr>        
                </table>
                
            </div>
        </div>





        <div class="content-header less-padding">
            
            <div class="h_flex">
                <h2>Участники</h2>
                <div class="filler"></div>
                <div class="h_flex table-header small_buttons">
                <input type="button" value="Команды" class="selected-table-button">
                <input type="button" value="Игроки" class="">
                <input type="button" value="Судьи" class="">
                </div>
                <div class="filler"></div>
                <select class="big-select">
                    <option>2024</option>
                    <option>2023</option>
                </select>
            </div>
        </div>
        <div class="grid-body">
            <div class="content-nav">

                    <p class="nav-menu-item">
                        <span class="mr lt"> &lt; </span>
                        <span class="mr gt"> &gt; </span> О команде</p>
                    <p class="nav-menu-item">
                        <span class="mr lt"> &lt; </span>
                        <span class="mr gt"> &gt; </span> Календарь</p>
                    <p class="nav-menu-item selected">
                        <span class="mr lt"> &lt; </span>
                        <span class="mr gt"> &gt; </span> Статистика</p>
                    <p class="nav-menu-item">
                        <span class="mr lt"> &lt; </span>
                        <span class="mr gt"> &gt; </span> Состав</p>


                        <div class="social-share">
                            <input type="button" class="telegram" value="">
                            <input type="button" class="vk" value="">
                            
                            <input type="button" class="x" value="">
                            <input type="button" class="" value="+">
                        </div>



                        <table class="nav-tournament-table mt">
                            <tr>
                                <th colspan="4">Турнирная таблица</th>
                            </tr>
                            <tr>
                                <td>#</td>
                                <td>Команда</td>
                                <td>И</td>
                                <td>О</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Команда 1</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Команда 2</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td colspan="4"><a href="#">ВСЯ ТАБЛИЦА</a></td>
                            </tr>
                        </table>
                        <table class="nav-tournament-table mt">
                            <tr>
                                <th colspan="4">Календарь</th>
                            </tr>
                            <tr>
                                <td colspan="4">1 июня</td>
                            </tr>
                            <tr>
                                <td>19:00</td>
                                <td>Команда 1</td>
                                <td>-:-</td>
                                <td>Команда 2</td>
                            </tr>
                            <tr>
                                <td colspan="4"><a href="#">ВСË РАССПИСАНИЕ</a></td>
                            </tr>
                        </table>


            </div>
            <div class="content-body body-background">
                <div class="h_flex white">
                    <img src="../lk/icons/team.jpg" class="" width="200" height="200">
                    <div class="v_flex left">
                        <h2 class="nm-top">Команда 1</h2>
                        <p class="">Последние матчи:</p>
                        <div class="h_flex">
                            <p class="dark-blue nm-block">В</p>
                            <p class="dark-blue nm-block">В</p>
                            <p class="dark-blue nm-block">В</p>
                            <p class="dark-blue nm-block">В</p>
                            <p class="dark-gray nm-block">Н</p>
                        </div>
                    </div>
                </div>
                <div class="h_flex white mt pi">
                    <p class="p-title">Статистика</p>
                    <div class="filler"></div>
                    <select class="big-select">
                        <option>Все время</option>
                        <option>2024</option>
                    </select>
                </div>
                <table class="nets-table mt">
                    <tr>
                        <th>#</th>
                        <th>Сезон</th>
                        <th>И</th>
                        <th>В</th>
                        <th>П</th>
                        <th>МЗ</th>
                        <th>МП</th>
                        <th>ЖК</th>
                        <th>КК</th>
                        <th>'О'</th>
                    </tr>     
                    <tr>
                        <td>1</td>
                        <td>
                            <div class="h_flex">
                            2024
                            </div>
                        </td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr> 
                    <tr>
                        <td>2</td>
                        <td>
                            <div class="h_flex">
                                2023
                                </div>
                        </td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>        
                </table>
                
            </div>
        </div>


        <div class="content-header less-padding">
            
            <div class="h_flex">
                <h2>Участники</h2>
                <div class="filler"></div>
                <div class="h_flex table-header small_buttons">
                <input type="button" value="Команды" class="selected-table-button">
                <input type="button" value="Игроки" class="">
                <input type="button" value="Судьи" class="">
                </div>
                <div class="filler"></div>
                <select class="big-select">
                    <option>2024</option>
                    <option>2023</option>
                </select>
            </div>
        </div>
        <div class="grid-body">
            <div class="content-nav">

                    <p class="nav-menu-item">
                        <span class="mr lt"> &lt; </span>
                        <span class="mr gt"> &gt; </span> О команде</p>
                    <p class="nav-menu-item">
                        <span class="mr lt"> &lt; </span>
                        <span class="mr gt"> &gt; </span> Календарь</p>
                    <p class="nav-menu-item">
                        <span class="mr lt"> &lt; </span>
                        <span class="mr gt"> &gt; </span> Статистика</p>
                    <p class="nav-menu-item selected">
                        <span class="mr lt"> &lt; </span>
                        <span class="mr gt"> &gt; </span> Состав</p>


                        <div class="social-share">
                            <input type="button" class="telegram" value="">
                            <input type="button" class="vk" value="">
                            
                            <input type="button" class="x" value="">
                            <input type="button" class="" value="+">
                        </div>



                        <table class="nav-tournament-table mt">
                            <tr>
                                <th colspan="4">Турнирная таблица</th>
                            </tr>
                            <tr>
                                <td>#</td>
                                <td>Команда</td>
                                <td>И</td>
                                <td>О</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Команда 1</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Команда 2</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td colspan="4"><a href="#">ВСЯ ТАБЛИЦА</a></td>
                            </tr>
                        </table>
                        <table class="nav-tournament-table mt">
                            <tr>
                                <th colspan="4">Календарь</th>
                            </tr>
                            <tr>
                                <td colspan="4">1 июня</td>
                            </tr>
                            <tr>
                                <td>19:00</td>
                                <td>Команда 1</td>
                                <td>-:-</td>
                                <td>Команда 2</td>
                            </tr>
                            <tr>
                                <td colspan="4"><a href="#">ВСË РАССПИСАНИЕ</a></td>
                            </tr>
                        </table>


            </div>
            <div class="content-body body-background">
                <div class="h_flex white">
                    <img src="../lk/icons/team.jpg" class="" width="200" height="200">
                    <div class="v_flex left">
                        <h2 class="nm-top">Команда 1</h2>
                        <p class="">Последние матчи:</p>
                        <div class="h_flex">
                            <p class="dark-blue nm-block">В</p>
                            <p class="dark-blue nm-block">В</p>
                            <p class="dark-blue nm-block">В</p>
                            <p class="dark-blue nm-block">В</p>
                            <p class="dark-gray nm-block">Н</p>
                        </div>
                    </div>
                </div>
                <div class="h_flex white mt padding">

                    <select class="big-select">
                        <option>Активные</option>
                        <option>Ушедшие</option>
                    </select>
                    <div class="filler"></div>
                    <select class="big-select">
                        <option>Игроки</option>
                        <option>Представители</option>
                    </select>
                </div>
                <div class="grid-player players">
                    <div class="player-block">
                        <img src="../lk/icons/Face.jpeg" class="" width="200" height="200">
                        <div class="comming-match-block">
                            <div class="v_flex left np">
                                <p class="nm-block">Игрок 1</p>
                                <p class="nm-block">Фамилия</p>
                            </div>


                            <div class="h_flex">
                                <p class="nm-block">Игр:</p>
                                <div class="filler"></div>
                                <p class="dark-blue circle nm-block">1</p>
                            </div>
                            <div class="h_flex">
                                <p class="nm-block">Голов:</p>
                                <div class="filler"></div>
                                <p class="dark-blue circle nm-block">0</p>
                            </div>
                            <p class="nm-block p-small">Вратарь</p>
                        </div>
                    </div>
                    <div class="player-block">
                        <img src="../lk/icons/Face.jpeg" class="" width="200" height="200">
                        <div class="comming-match-block">
                            <div class="v_flex left np">
                                <p class="nm-block">Игрок 1</p>
                                <p class="nm-block">Фамилия</p>
                            </div>


                            <div class="h_flex">
                                <p class="nm-block">Игр:</p>
                                <div class="filler"></div>
                                <p class="dark-blue circle nm-block">1</p>
                            </div>
                            <div class="h_flex">
                                <p class="nm-block">Голов:</p>
                                <div class="filler"></div>
                                <p class="dark-blue circle nm-block">0</p>
                            </div>
                            <p class="nm-block p-small">Вратарь</p>
                        </div>
                    </div>
                    <div class="player-block">
                        <img src="../lk/icons/Face.jpeg" class="" width="200" height="200">
                        <div class="comming-match-block">
                            <div class="v_flex left np">
                                <p class="nm-block">Игрок 1</p>
                                <p class="nm-block">Фамилия</p>
                            </div>


                            <div class="h_flex">
                                <p class="nm-block">Игр:</p>
                                <div class="filler"></div>
                                <p class="dark-blue circle nm-block">1</p>
                            </div>
                            <div class="h_flex">
                                <p class="nm-block">Голов:</p>
                                <div class="filler"></div>
                                <p class="dark-blue circle nm-block">0</p>
                            </div>
                            <p class="nm-block p-small">Вратарь</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>




        <div class="content-header less-padding">
            
            <div class="h_flex">
                <h2>Участники</h2>
                <div class="filler"></div>
                <div class="h_flex table-header small_buttons">
                <input type="button" value="Команды" class="">
                <input type="button" value="Игроки" class="selected-table-button">
                <input type="button" value="Судьи" class="">
                </div>
                <div class="filler"></div>
                <select class="big-select">
                    <option>2024</option>
                    <option>2023</option>
                </select>
            </div>
        </div>
        <div class="content-body body-background members-body">
            <div class="h_flex">
                <input type="text" class="search-form" placeholder="Поиск по названию">
                <input type="button" class="search-button" value="Найти">
                <div class="filler"></div>
                <input type="button" class="search-button" value="Сбросить">
            </div>


            <table class="nets-table mt">
                <tr>
                    <th>#</th>
                    <th>Игрок</th>
                    <th>И</th>
                    <th>Г (ПН.)</th>
                    <th>СР.</th>
                    <th>МЗ</th>
                    <th>П</th>
                    <th>СР.</th>
                    <th>ЖК</th>
                    <th>КК</th>
                </tr>     
                <tr class="clickable-tr">
                    <td>1</td>
                    <td>
                        <div class="h_flex">
                            <img src="../lk/icons/Face.jpeg" class="" width="50" height="50">
                            Моренков Алексей Владимирович
                        </div>
                    </td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>     
            </table>

        </div>


        <div class="content-header less-padding">
            
            <div class="h_flex">
                <h2>Участники</h2>
                <div class="filler"></div>
                <div class="h_flex table-header small_buttons">
                <input type="button" value="Команды" class="">
                <input type="button" value="Игроки" class="selected-table-button">
                <input type="button" value="Судьи" class="">
                </div>
                <div class="filler"></div>
                <select class="big-select">
                    <option>2024</option>
                    <option>2023</option>
                </select>
            </div>
        </div>
        <div class="content-body body-background members-body">
            <div class="h_flex white">
                <img src="../lk/icons/Face.jpeg" class="" width="250" height="250">
                <div class="v_flex left">
                    <h2 class="nm-top">Команда Командович Робот</h2>
                    <p class="">Дата рождения: <span> 17 декабря 2000</span></p>
                    <p class="">Клуб: <span> ГСС</span></p>
                </div>
                
            </div> 
            <div class="h_flex white mt">
                <div class="filler"></div>
                <p>Игры: <div class="dark-blue circle">7</div></p>
                <div class="filler"></div>
                <p>Голы: <div class="dark-blue circle">5</div></p>
                <div class="filler"></div>
                <p>Передачи: <div class="dark-blue circle">32</div></p>
                <div class="filler"></div>
                <p>Жк: <div class="dark-blue circle">2</div></p>
                <div class="filler"></div>
                <p>Кк: <div class="dark-blue circle">2</div></p>
                <div class="filler"></div>
            </div>

            <div class="h_flex white mt pi">
                <p class="p-title">Статистика</p>
                <div class="filler"></div>
                <select class="big-select">
                    <option>Все время</option>
                    <option>2024</option>
                </select>
            </div>
            <table class="nets-table mt">
                <tr>
                    <th>Матч</th>
                    <th></th>
                    <th>И</th>
                    <th>Г (ПН.)</th>
                    <th>Пас</th>
                    <th>ЖК</th>
                    <th>КК</th>
                </tr>     
                <tr>
                    <td></td>
                    <td>
                    </td>
                    <td>2</td>
                    <td>2</td>
                    <td>2</td>
                    <td>0</td>
                    <td>0</td>
                </tr>   
                <tr>
                    <td>Вперед, на сочи</td>
                    <td>
                        <div class="h_flex wrap mb">
                            <div class="v_flex left nm-block">
                                ГСС 0:3 Экспресс Офис
                            </div>
                            <div class="v_flex left">
                                <p class="p-small nm-block">19.12.2022</p>
                            </div>

                        </div>
                    </td>
                    <td>1</td>
                    <td>1</td>
                    <td>2</td>
                    <td>0</td>
                    <td>0</td>
                </tr>   
                <tr>
                    <td>Вперед, на сочи</td>
                    <td>
                        <div class="h_flex wrap mb">
                            <div class="v_flex left nm-block">
                                ГСС 0:5 Экспресс Офис
                            </div>
                            <div class="v_flex left">
                                <p class="p-small nm-block">25.12.2022</p>
                            </div>

                        </div>
                    </td>
                    <td>1</td>
                    <td>1</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>      
            </table>

        </div>


        <div class="content-header less-padding">
            
            <div class="h_flex">
                <h2>Участники</h2>
                <div class="filler"></div>
                <div class="h_flex table-header small_buttons">
                <input type="button" value="Команды" class="">
                <input type="button" value="Игроки" class="">
                <input type="button" value="Судьи" class="selected-table-button">
                </div>
                <div class="filler"></div>
                <select class="big-select">
                    <option>2024</option>
                    <option>2023</option>
                </select>
            </div>
        </div>
        <div class="content-body body-background members-body">
            <div class="h_flex">
                <input type="text" class="search-form" placeholder="Поиск по названию">
                <input type="button" class="search-button" value="Найти">
                <div class="filler"></div>
                <input type="button" class="search-button" value="Сбросить">
            </div>


            <table class="nets-table mt">
                <tr>
                    <th>#</th>
                    <th>Игрок</th>
                    <th>И</th>
                    <th>Жк</th>
                    <th>Ср</th>
                    <th>СР.</th>
                    <th>КК</th>
                </tr>     
                <tr class="clickable-tr">
                    <td>1</td>
                    <td>
                        <div class="h_flex">
                            <img src="../lk/icons/Face.jpeg" class="" width="50" height="50">
                            Моренков Алексей Владимирович
                        </div>
                    </td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>     
            </table>

        </div>


        <div class="content-header less-padding">
            
            <div class="h_flex">
                <h2>Участники</h2>
                <div class="filler"></div>
                <div class="h_flex table-header small_buttons">
                <input type="button" value="Команды" class="">
                <input type="button" value="Игроки" class="">
                <input type="button" value="Судьи" class="selected-table-button">
                </div>
                <div class="filler"></div>
                <select class="big-select">
                    <option>2024</option>
                    <option>2023</option>
                </select>
            </div>
        </div>
        <div class="content-body body-background members-body">
            <div class="h_flex white">
                <img src="../lk/icons/Face.jpeg" class="" width="250" height="250">
                <div class="v_flex left">
                    <h2 class="nm-top">Команда Командович Робот</h2>
                    <p class="">Категория: <span> 17 декабря 2000</span></p>
                </div>
                
            </div> 
            

        </div>

       



        
    </div>
</body>
</html>