<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="h_flex">
            <img src="../lk/icons/team.jpg" alt="logo" class="logo" width="100" height="100">
            <div class="v_flex">
            <div class="naming">
                <h1>Сайт болельшиков</h1>
            </div>
            <nav>
                <a class="nav-links" href="bolelshiki_o_lige.html">О лиге</a>
                <a class="nav-links selected">Турниры</a>
                <a class="nav-links" href="bolelshiki_members.html">Участники</a>
            </nav>
            </div>
            <div class="w160"></div>
        </div>
    </header>
    <div class="content">
        <div class="content-header">
            
            <div class="h_flex">
                <h2>Все турниры</h2>
                <div class="filler"></div>
                <select class="big-select">
                    <option>2024</option>
                    <option>2023</option>
                </select>
            </div>
        </div>
        <div class="content-body body-background">
            <div class="grid-block">
                <div class="tournament-block">
                    <img src="../lk/icons/team.jpg" alt="logo" class="logo" width="200" height="200">
                    <p class="p-title">Товарищеский матч</p>
                    <div class="h_flex space-between">
                        <p class="p-small">01.03.2022-05.03.2022</p>
                        <p class="p-small">2 команды</p>
                        <p class="p-small">Завершён</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-header">
            
            <div class="h_flex">

                <h2 >Товарищеский матч</h2>
            </div>
            <div class="h_flex">
                <p class="p-small">01.03.2022-05.03.2022</p>
                <p class="p-small">2 команды</p>
                <p class="p-small">Завершён</p>
            </div>
        </div>
        <div class="grid-body">
            <div class="content-nav">

                    <p class="nav-menu-item selected">
                        <span class="mr lt"> &lt; </span>
                        <span class="mr gt"> &gt; </span> О турнире</p>
                    <p class="nav-menu-item">
                        <span class="mr lt"> &lt; </span>
                        <span class="mr gt"> &gt; </span> Календарь</p>
                    <p class="nav-menu-item">
                        <span class="mr lt"> &lt; </span>
                        <span class="mr gt"> &gt; </span> Таблицы и сетки</p>
                    <p class="nav-menu-item">
                        <span class="mr lt"> &lt; </span>
                        <span class="mr gt"> &gt; </span> Статистика</p>
                    <p class="nav-menu-item">
                        <span class="mr lt"> &lt; </span>
                        <span class="mr gt"> &gt; </span> Команды</p>

                    <p class="nav-menu-item">
                        <span class="mr lt"> &lt; </span>
                        <span class="mr gt"> &gt; </span> Документы</p>

                        <div class="social-share">
                            <input type="button" class="telegram" value="">
                            <input type="button" class="vk" value="">
                            
                            <input type="button" class="x" value="">
                            <input type="button" class="" value="+">
                        </div>



                        <table class="nav-tournament-table mt">
                            <tr>
                                <th colspan="4">Турнирная таблица</th>
                            </tr>
                            <tr>
                                <td>#</td>
                                <td>Команда</td>
                                <td>И</td>
                                <td>О</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Команда 1</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Команда 2</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td colspan="4"><a href="#">ВСЯ ТАБЛИЦА</a></td>
                            </tr>
                        </table>

                        <table class="nav-tournament-table mt">
                            <tr>
                                <th colspan="4">Календарь</th>
                            </tr>
                            <tr>
                                <td colspan="4">1 июня</td>
                            </tr>
                            <tr>
                                <td>19:00</td>
                                <td>Команда 1</td>
                                <td>-:-</td>
                                <td>Команда 2</td>
                            </tr>
                            <tr>
                                <td colspan="4"><a href="#">ВСË РАССПИСАНИЕ</a></td>
                            </tr>
                        </table>


            </div>
            <div class="content-body body-background">
                <h3 class="bmt">Будущие матчи</h3>
                <div class="grid-player match">
                    <div class="comming-match">
                        <p class="p-title">Товарищеский матч</p>
                        <div class="comming-match-block">
                        <p class=" dark-blue">1 июня / 19:00</p>
                        <a href="#">- Команда 1</a>
                        <a href="#">- Команда 2</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="content-header">
            
            <div class="h_flex">

                <h2>Товарищеский матч</h2>
            </div>
            <div class="h_flex">
                <p class="p-small">01.03.2022-05.03.2022</p>
                <p class="p-small">2 команды</p>
                <p class="p-small">Завершён</p>
            </div>
        </div>
        <div class="grid-body">
            <div class="content-nav">

                    <p class="nav-menu-item">
                        <span class="mr lt"> &lt; </span>
                        <span class="mr gt"> &gt; </span> О турнире</p>
                    <p class="nav-menu-item selected">
                        <span class="mr lt"> &lt; </span>
                        <span class="mr gt"> &gt; </span> Календарь</p>
                    <p class="nav-menu-item">
                        <span class="mr lt"> &lt; </span>
                        <span class="mr gt"> &gt; </span> Таблицы и сетки</p>
                    <p class="nav-menu-item">
                        <span class="mr lt"> &lt; </span>
                        <span class="mr gt"> &gt; </span> Статистика</p>
                    <p class="nav-menu-item">
                        <span class="mr lt"> &lt; </span>
                        <span class="mr gt"> &gt; </span> Команды</p>

                    <p class="nav-menu-item">
                        <span class="mr lt"> &lt; </span>
                        <span class="mr gt"> &gt; </span> Документы</p>

                        <div class="social-share">
                            <input type="button" class="telegram" value="">
                            <input type="button" class="vk" value="">
                            
                            <input type="button" class="x" value="">
                            <input type="button" class="" value="+">
                        </div>



                        <table class="nav-tournament-table mt">
                            <tr>
                                <th colspan="4">Турнирная таблица</th>
                            </tr>
                            <tr>
                                <td>#</td>
                                <td>Команда</td>
                                <td>И</td>
                                <td>О</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Команда 1</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Команда 2</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td colspan="4"><a href="#">ВСЯ ТАБЛИЦА</a></td>
                            </tr>
                        </table>

                        <table class="nav-tournament-table mt">
                            <tr>
                                <th colspan="4">Календарь</th>
                            </tr>
                            <tr>
                                <td colspan="4">1 июня</td>
                            </tr>
                            <tr>
                                <td>19:00</td>
                                <td>Команда 1</td>
                                <td>-:-</td>
                                <td>Команда 2</td>
                            </tr>
                            <tr>
                                <td colspan="4"><a href="#">ВСË РАССПИСАНИЕ</a></td>
                            </tr>
                        </table>


            </div>
            <div class="content-body body-background">
                <table class="calendar-match-table">
                    <tr>
                        <th colspan="5">1 ИЮНЯ</th>
                    </tr>     
                    <tr>
                        <td>
                            <div class="v_flex">
                                <p>19:00</p>
                                <p>ФОК ТУЛГУ</p>
                            </div>
                        </td>  
                        <td>
                            <div class="h_flex">
                                <p>Команда 1</p>
                                <img src="../lk/icons/team.jpg" class="" width="70" height="70">
                            </div>
                        </td>  
                        
                        <td>-:-</td>  
                        <td>                          
                            <div class="h_flex">
                                <img src="../lk/icons/team.jpg" class="" width="70" height="70">
                                <p>Команда 2</p>
                            </div>
                        </td>

                        <td> 1 тур </td>
                    </tr>        
                </table>
            </div>
        </div>



        <div class="content-header">
            
            <div class="h_flex">

                <h2>Товарищеский матч</h2>
            </div>
            <div class="h_flex">
                <p class="p-small">01.03.2022-05.03.2022</p>
                <p class="p-small">2 команды</p>
                <p class="p-small">Завершён</p>
            </div>
        </div>
        <div class="grid-body">
            <div class="content-nav">

                    <p class="nav-menu-item">
                        <span class="mr lt"> &lt; </span>
                        <span class="mr gt"> &gt; </span> О турнире</p>
                    <p class="nav-menu-item">
                        <span class="mr lt"> &lt; </span>
                        <span class="mr gt"> &gt; </span> Календарь</p>
                    <p class="nav-menu-item selected">
                        <span class="mr lt"> &lt; </span>
                        <span class="mr gt"> &gt; </span> Таблицы и сетки</p>
                    <p class="nav-menu-item">
                        <span class="mr lt"> &lt; </span>
                        <span class="mr gt"> &gt; </span> Статистика</p>
                    <p class="nav-menu-item">
                        <span class="mr lt"> &lt; </span>
                        <span class="mr gt"> &gt; </span> Команды</p>

                    <p class="nav-menu-item">
                        <span class="mr lt"> &lt; </span>
                        <span class="mr gt"> &gt; </span> Документы</p>

                        <div class="social-share">
                            <input type="button" class="telegram" value="">
                            <input type="button" class="vk" value="">
                            
                            <input type="button" class="x" value="">
                            <input type="button" class="" value="+">
                        </div>



                        <table class="nav-tournament-table mt">
                            <tr>
                                <th colspan="4">Турнирная таблица</th>
                            </tr>
                            <tr>
                                <td>#</td>
                                <td>Команда</td>
                                <td>И</td>
                                <td>О</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Команда 1</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Команда 2</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td colspan="4"><a href="#">ВСЯ ТАБЛИЦА</a></td>
                            </tr>
                        </table>

                        <table class="nav-tournament-table mt">
                            <tr>
                                <th colspan="4">Календарь</th>
                            </tr>
                            <tr>
                                <td colspan="4">1 июня</td>
                            </tr>
                            <tr>
                                <td>19:00</td>
                                <td>Команда 1</td>
                                <td>-:-</td>
                                <td>Команда 2</td>
                            </tr>
                            <tr>
                                <td colspan="4"><a href="#">ВСË РАССПИСАНИЕ</a></td>
                            </tr>
                        </table>


            </div>
            <div class="content-body body-background">
                <div class="h_flex table-header">
                    <input type="button" class="selected-table-button" value="Таблица">
                    <input type="button" class="" value="Шахматка">
                    <input type="button" class="" value="Форма">
                </div>
                <table class="nets-table">
                    <tr>
                        <th>#</th>
                        <th>Команда</th>
                        <th>И</th>
                        <th>В</th>
                        <th>Н</th>
                        <th>П</th>
                        <th>МЗ-МП</th>
                        <th>О</th>
                        <th>Форма</th>
                    </tr>     
                    <tr>
                        <td>1</td>
                        <td>
                            <div class="h_flex">
                                <img src="../lk/icons/team.jpg" class="" width="70" height="70">
                                <p>Команда 1</p>
                            </div>
                        </td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0-0</td>
                        <td>0</td>
                        <td></td>
                    </tr> 
                    <tr>
                        <td>2</td>
                        <td>
                            <div class="h_flex">
                                <img src="../lk/icons/team.jpg" class="" width="70" height="70">
                                <p>Команда 2</p>
                            </div>
                        </td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0-0</td>
                        <td>0</td>
                        <td></td>
                    </tr>        
                </table>

                <div class="h50"></div>

                <div class="h_flex table-header">
                    <input type="button" class="" value="Таблица">
                    <input type="button" class="selected-table-button" value="Шахматка">
                    <input type="button" class="" value="Форма">
                </div>
                <table class="nets-table chahmatka chahmatka-effect">
                    <tr>
                        <th>#</th>
                        <th>Команда</th>
                        <th>1</th>
                        <th>2</th>
                    </tr>     
                    <tr>
                        <td>1</td>
                        <td>
                            <div class="h_flex">
                                <img src="../lk/icons/team.jpg" class="" width="70" height="70">
                                <p>Команда 1</p>
                            </div>
                        </td>
                        <td></td>
                        <td>-:-</td>
                    </tr> 
                    <tr>
                        <td>2</td>
                        <td>
                            <div class="h_flex">
                                <img src="../lk/icons/team.jpg" class="" width="70" height="70">
                                <p>Команда 2</p>
                            </div>
                        </td>
                        
                        <td>-:-</td>
                        <td></td>
                    </tr>        
                </table>


                <div class="h50"></div>

                <div class="h_flex table-header">
                    <input type="button" class="" value="Таблица">
                    <input type="button" class="" value="Шахматка">
                    <input type="button" class="selected-table-button" value="Форма">
                </div>
                <table class="nets-table chahmatka">
                    <tr>
                        <th>#</th>
                        <th>Команда</th>
                        <th>Форма</th>
                    </tr>     
                    <tr>
                        <td>1</td>
                        <td>
                            <div class="h_flex">
                                <img src="../lk/icons/team.jpg" class="" width="70" height="70">
                                <p>Команда 1</p>
                            </div>
                        </td>
                        <td></td>
                    </tr> 
                    <tr>
                        <td>2</td>
                        <td>
                            <div class="h_flex">
                                <img src="../lk/icons/team.jpg" class="" width="70" height="70">
                                <p>Команда 2</p>
                            </div>
                        </td>
                        <td></td>
                    </tr>        
                </table>


            </div>
        </div>



        <div class="content-header">
            
            <div class="h_flex">

                <h2>Товарищеский матч</h2>
            </div>
            <div class="h_flex">
                <p class="p-small">01.03.2022-05.03.2022</p>
                <p class="p-small">2 команды</p>
                <p class="p-small">Завершён</p>
            </div>
        </div>
        <div class="grid-body">
            <div class="content-nav">

                    <p class="nav-menu-item">
                        <span class="mr lt"> &lt; </span>
                        <span class="mr gt"> &gt; </span> О турнире</p>
                    <p class="nav-menu-item">
                        <span class="mr lt"> &lt; </span>
                        <span class="mr gt"> &gt; </span> Календарь</p>
                    <p class="nav-menu-item">
                        <span class="mr lt"> &lt; </span>
                        <span class="mr gt"> &gt; </span> Таблицы и сетки</p>
                    <p class="nav-menu-item">
                        <span class="mr lt"> &lt; </span>
                        <span class="mr gt"> &gt; </span> Статистика</p>
                    <p class="nav-menu-item selected">
                        <span class="mr lt"> &lt; </span>
                        <span class="mr gt"> &gt; </span> Команды</p>

                    <p class="nav-menu-item">
                        <span class="mr lt"> &lt; </span>
                        <span class="mr gt"> &gt; </span> Документы</p>

                        <div class="social-share">
                            <input type="button" class="telegram" value="">
                            <input type="button" class="vk" value="">
                            
                            <input type="button" class="x" value="">
                            <input type="button" class="" value="+">
                        </div>



                        <table class="nav-tournament-table mt">
                            <tr>
                                <th colspan="4">Турнирная таблица</th>
                            </tr>
                            <tr>
                                <td>#</td>
                                <td>Команда</td>
                                <td>И</td>
                                <td>О</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Команда 1</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Команда 2</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td colspan="4"><a href="#">ВСЯ ТАБЛИЦА</a></td>
                            </tr>
                        </table>

                        <table class="nav-tournament-table mt">
                            <tr>
                                <th colspan="4">Календарь</th>
                            </tr>
                            <tr>
                                <td colspan="4">1 июня</td>
                            </tr>
                            <tr>
                                <td>19:00</td>
                                <td>Команда 1</td>
                                <td>-:-</td>
                                <td>Команда 2</td>
                            </tr>
                            <tr>
                                <td colspan="4"><a href="#">ВСË РАССПИСАНИЕ</a></td>
                            </tr>
                        </table>


            </div>
            <div class="content-body body-background">
                <div class="grid-player">
                    <div class="player-block">
                        <img src="../lk/icons/team.jpg" class="" width="200" height="200">
                        <p>Команда 1</p>
                    </div>
                    <div class="player-block">
                        <img src="../lk/icons/team.jpg" class="" width="200" height="200">
                        <p>Команда 1</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="content-header">
            
            <div class="h_flex">

                <h2>Все матчи</h2>
            </div>
        </div>
        <div class="grid-body">
            <div class="content-nav">

                        <select class="nav-select" name="filter-time">
                            <option>Месяц назад</option>
                            <option>Неделя назад</option>
                            <option>Вчера</option>
                            <option>Сегодня</option>
                            <option>Завтра</option>
                            <option>Неделя вперед</option>
                            <option>Месяц вперед</option>
                        </select>

                        <select class="nav-select" name="filter-tournament">
                            <option>Все турниры</option>
                            <option>Все на футбол!</option>
                        </select>

                        <select class="nav-select" name="filter-team">
                            <option>Все команды</option>
                            <option>Команда 1</option>
                            <option>Команда 2</option>
                        </select>
                        

                        <select class="nav-select" name="filter-stadium">
                            <option>Все стадионы</option>
                            <option>Без стадиона</option>
                            <option>Стадион 1</option>
                        </select>
                        
                        <select class="nav-select" name="filter-judge">
                            <option>Все судьи</option>
                            <option>Без судьи</option>
                            <option>Судья 1</option>
                        </select>



                        <div class="social-share">
                            <input type="button" class="telegram" value="">
                            <input type="button" class="vk" value="">
                            
                            <input type="button" class="x" value="">
                            <input type="button" class="" value="+">
                        </div>


            </div>
            <div class="content-body body-background">
                <table class="calendar-match-table">
                    <tr>
                        <th colspan="4" id="tovarishki_match_title">Товарищеский матч</th>
                        <th >Судья</th>
                    </tr>     
                    <tr>
                        <td>
                            <div class="v_flex">
                                <p>01.06 / 19:00</p>
                                <p>ФОК ТУЛГУ</p>
                            </div>
                        </td>  
                        <td>
                            <div class="h_flex">
                                <p>Команда 1</p>
                                <img src="../lk/icons/team.jpg" class="" width="70" height="70">
                            </div>
                        </td>  
                        
                        <td>-:-</td>  
                        <td>                          
                            <div class="h_flex">
                                <img src="../lk/icons/team.jpg" class="" width="70" height="70">
                                <p>Команда 2</p>
                            </div>
                        </td>

                        <td> Мудрый Дуб </td>
                    </tr>        
                </table>
            </div>
        </div>
        



    </div>
</body>
</html>