<%- include('fans_header.ejs') %>
    <div class="content">
        <div class="content-header">
            <h2>О лиге</h2>
        </div>
        <div class="content-body">
            <p><%= league.description %></p>
        </div>
    </div>
<%- include('fans_footer.ejs') %>