<div class="content-nav">

    <p class="nav-menu-item selected" data-name="tournament">
        <span class="mr lt"> &lt; </span>
        <span class="mr gt"> &gt; </span> О турнире</p>
    <p class="nav-menu-item" data-name="calendar">
        <span class="mr lt"> &lt; </span>
        <span class="mr gt"> &gt; </span> Календарь</p>
    <p class="nav-menu-item" data-name="tables">
        <span class="mr lt"> &lt; </span>
        <span class="mr gt"> &gt; </span> Таблицы и сетки</p>
    <!-- <p class="nav-menu-item" data-name="stats">
        <span class="mr lt"> &lt; </span>
        <span class="mr gt"> &gt; </span> Статистика</p> -->
    <p class="nav-menu-item" data-name="teams">
        <span class="mr lt"> &lt; </span>
        <span class="mr gt"> &gt; </span> Команды</p>

    <p class="nav-menu-item" data-name="docs">
        <span class="mr lt"> &lt; </span>
        <span class="mr gt"> &gt; </span> Документы</p>

    <p class="nav-menu-item" data-name="goalkeepers">
        <span class="mr lt"> &lt; </span>
        <span class="mr gt"> &gt; </span> Вратари</p>
    <p class="nav-menu-item" data-name="bombers">
        <span class="mr lt"> &lt; </span>
        <span class="mr gt"> &gt; </span> Бомбардиры</p>
    <p class="nav-menu-item" data-name="assistants">
        <span class="mr lt"> &lt; </span>
        <span class="mr gt"> &gt; </span> Ассистенты</p>

        <!-- <div class="social-share">
            <input type="button" class="telegram" value="">
            <input type="button" class="vk" value="">
            
            <input type="button" class="x" value="">
            <input type="button" class="" value="+">
        </div>



        <table class="nav-tournament-table mt">
            <tr>
                <th colspan="4">Турнирная таблица</th>
            </tr>
            <tr>
                <td>#</td>
                <td>Команда</td>
                <td>И</td>
                <td>О</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Команда 1</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Команда 2</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td colspan="4"><a href="#">ВСЯ ТАБЛИЦА</a></td>
            </tr>
        </table>

        <table class="nav-tournament-table mt">
            <tr>
                <th colspan="4">Календарь</th>
            </tr>
            <tr>
                <td colspan="4">1 июня</td>
            </tr>
            <tr>
                <td>19:00</td>
                <td>Команда 1</td>
                <td>-:-</td>
                <td>Команда 2</td>
            </tr>
            <tr>
                <td colspan="4"><a href="#">ВСË РАССПИСАНИЕ</a></td>
            </tr>
        </table> -->


</div>