

    <div class="notification disabled"> <!-- disabled -->

        <div class="notification_header">
        <p class="notification_title">Замена игрока</p>
        <div class="notification_img change"></div>
        
        
        </div>

        <div class="notification_body">
            <p class="notification_message">Замена <span>Скибиди туалета</span> <br> на <span>Лену Жопкину</span> </p>
        </div>
        
    </div>

    <div class="mini-notification disabled"> <!-- disabled -->

        <div class="mini-notification_header">
        <p class="notification_title">Замена игрока</p>
        <div class="notification_img change"></div>
        </div>

        <div class="mini-notification_body">
            <p class="notification_message">Замена <span>Скибиди туалета</span> <br> на <span>Лену Жопкину</span> </p>
        </div>
    </div>
