<%- include('global/header.ejs') %>

    <div id="container">
        <%- include('partials/loginForm.ejs') %>
        <%- include('partials/regForm.ejs') %>
    </div>
<script src="/static/pages/login.js"></script>
<%- include('global/footer.ejs') %> 