<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="visualizer.css">
</head>
<body>
	<div class="little top-anim-1" id="main" >
		<div id="container">
			<div id="scoreboard">
				<div id="home-team-color" class="var-homeColor" style="background-color: rgb(0, 0, 0); color: rgb(255, 255, 255);"></div>
				<div>
					<div id="home-team" class="color_accent">
						<div class="var-home-short">Cборная Минска</div>
					</div>
					<div class="pen fade-anim" >
						<div class="penalties-home">
							<div class="penaltie" style="background-color: var(--pen-clear);"></div>
							<div class="penaltie" style="background-color: var(--pen-clear);"></div>
							<div class="penaltie" style="background-color: var(--pen-clear);"></div>
							<div class="penaltie" style="background-color: var(--pen-clear);"></div>
							<div class="penaltie" style="background-color: var(--pen-clear);"></div>
						</div>
					</div>
				</div>
				<div id="tablo" class="color_accent_2">
					<div id="fouls" class="fouls fouls-container" style="display: none;">
						<div id="left"></div>
						<div id="home-fouls" class="var-home-fouls">0</div>
						<div id="fouls-divider">Фолы</div>
						<div id="away-fouls" class="var-away-fouls">0</div>
						<div id="right"></div>
					</div>
					<div id="score">
						<div id="score-home" class="var-home-score">0</div>
						<div id="divider">&nbsp;-&nbsp;</div>
						<div id="score-away" class="var-away-score">0</div>
					</div>
				</div>
				<div>
					<div id="away-team" class="color_accent">
						<div class="var-away-short">Могилевская область</div>
					</div>
					<div class="pen fade-anim" >
						<div class="penalties-away">
							<div class="penaltie" style="background-color: var(--pen-clear);"></div>
							<div class="penaltie" style="background-color: var(--pen-clear);"></div>
							<div class="penaltie" style="background-color: var(--pen-clear);"></div>
							<div class="penaltie" style="background-color: var(--pen-clear);"></div>
							<div class="penaltie" style="background-color: var(--pen-clear);"></div>
						</div>
					</div>
				</div>
				<div id="away-team-color" class="var-awayColor" style="background-color: rgb(255, 17, 153); color: rgb(255, 255, 255);"></div>
				<div id="timer" class="color_accent">
					<div class="var-time q_time">00:00</div>
				</div>
				<div id="period" class="color_accent_2">
					<div class="roundnum q_round"><span>1</span> <span>Т</span></div>
				</div>
			</div>
		</div>
	</div>
	<div class="mid matchid-anim">
		<div id="middle">
			<div id="matchid" class="color_accent border_color_accent matchid-anim">
				<div class="line-1">
					<div class="mid-home-team var-home">Cборная Минска</div>
					<div class="vs">
						<div>vs</div>
					</div>
					<div class="mid-away-team var-away">Могилевская область</div>
				</div>
				<div id="line-2">
					<div id="line-3">
						<div class="logo"><img class="home-logo" src=""></div>
						<div id="tour">
							<div id="tour-num" class="var-tour">2</div>
							<div id="tour-txt">Тур</div>
						</div>
						<div class="logo"><img class="away-logo" src=""></div>
					</div>
					<div id="line-4">
						<div id="venue" class="var-stadium">Спорткомплекс «Виктория» (Гродно)</div>
						<div id="date-time"><span class="var-match-date-text">20 июня</span><span class="var-match-time">10:00</span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="big">
		<div class="big butt-anim-big">
			<div id="big-container">
				<div class="line-1">
					<div class="transform-left color_accent" id="logo-home"><img class="home-logo" src=""></div>
					<div class="mid-home-team transform-left color_accent" >
						<div class="var-home">Cборная Минска</div>
					</div>
					<div id="top-bar">
						<div id="top-info" class="color_accent">
							<div id="big-left" class="border_color_accent_bottom"></div>
							<div id="info" class="var-label q_time">Начало матча</div>
							<div id="big-right" class="border_color_accent_bottom"></div>
						</div>
						<div class="vsbig border_color_accent_2">
							<div class="biginfo">
								<div class="score-big var-home-score">0</div>
								<div class="score-big">-</div>
								<div class="score-big var-away-score">0</div>
							</div>
						</div>
					</div>
					<div class="mid-away-team transform-right color_accent">
						<div class="var-away">Могилевская область</div>
					</div>
					<div class="transform-right color_accent" id="logo-away"><img class="away-logo" src=""></div>
				</div>
				<div id="bottom-row-2">
					<div class="pen fade-anim">
						<div class="penalties-home" >
							<div class="penaltie" style="background-color: var(--pen-clear);"></div>
							<div class="penaltie" style="background-color: var(--pen-clear);"></div>
							<div class="penaltie" style="background-color: var(--pen-clear);"></div>
							<div class="penaltie" style="background-color: var(--pen-clear);"></div>
							<div class="penaltie" style="background-color: var(--pen-clear);"></div>
						</div>
					</div>
					<div id="match-info" class="color_accent">
						<div class="var-label q_name_round fade-anim">Начало матча</div>
						<div class="pen fade-anim" >
							<div class="var-penalties-home" style="display: inline-block;margin-right: 90px;">0</div>Пенальти<div style="display: inline-block;margin-left: 90px;" class="var-penalties-away">0</div>
						</div>
					</div>
					<div class="pen fade-anim">
						<div class="penalties-away" >
							<div class="penaltie" style="background-color: var(--pen-clear);"></div>
							<div class="penaltie" style="background-color: var(--pen-clear);"></div>
							<div class="penaltie" style="background-color: var(--pen-clear);"></div>
							<div class="penaltie" style="background-color: var(--pen-clear);"></div>
							<div class="penaltie" style="background-color: var(--pen-clear);"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="roster-container home-roster home-anim">
		<div class="roster-main-div color_main border_color_accent">
			<div class="sostav">
				<div class="sostav-txt">Состав: </div>
				<div class="sostav-txt-sec var-away">Cборная Минска</div>
				<div class="filler"></div>
				<img class="away-logo" width="150px" height="150px" alt="logo" src="">

			</div>
			<div class="roster-content">
				<div class="roster-teamate">
					<p class="roster-teamate-name">Name Nonamovich</p>
					<img width="40" height="40" src="">
				</div>
				<div class="roster-teamate">
					<p class="roster-teamate-name">Name Nonamovich</p>
					<img width="40" height="40" src="">
				</div>
				<div class="roster-teamate">
					<p class="roster-teamate-name">Name Nonamovich</p>
					<img width="40" height="40" src="">
				</div>
				<div class="roster-teamate">
					<p class="roster-teamate-name">Name Nonamovich</p>
					<img width="40" height="40" src="">
				</div>
				<div class="roster-teamate">
					<p class="roster-teamate-name">Name Nonamovich</p>
					<img width="40" height="40" src="">
				</div>
				<div class="roster-teamate">
					<p class="roster-teamate-name">Name Nonamovich</p>
					<img width="40" height="40" src="">
				</div>
				<div class="roster-teamate">
					<p class="roster-teamate-name">Name Nonamovich</p>
					<img width="40" height="40" src="">
				</div>
				<div class="roster-teamate">
					<p class="roster-teamate-name">Name Nonamovich</p>
					<img width="40" height="40" src="">
				</div>



			</div>
		</div>
	</div>
	<div class="roster-container away-roster away-anim">
		<div class="roster-main-div color_main border_color_accent">
			<div class="sostav">
				<div class="sostav-txt">Состав: </div>
				<div class="sostav-txt-sec var-away">Cборная Минска</div>
				<div class="filler"></div>
				<img class="away-logo" width="150px" height="150px" alt="logo" src="">

			</div>
			<div class="roster-content">
				<div class="roster-teamate">
					<p class="roster-teamate-name">Name Nonamovich</p>
					<img width="40" height="40" src="">
				</div>
				<div class="roster-teamate">
					<p class="roster-teamate-name">Name Nonamovich</p>
					<img width="40" height="40" src="">
				</div>
				<div class="roster-teamate">
					<p class="roster-teamate-name">Name Nonamovich</p>
					<img width="40" height="40" src="">
				</div>
				<div class="roster-teamate">
					<p class="roster-teamate-name">Name Nonamovich</p>
					<img width="40" height="40" src="">
				</div>
				<div class="roster-teamate">
					<p class="roster-teamate-name">Name Nonamovich</p>
					<img width="40" height="40" src="">
				</div>
				<div class="roster-teamate">
					<p class="roster-teamate-name">Name Nonamovich</p>
					<img width="40" height="40" src="">
				</div>
				<div class="roster-teamate">
					<p class="roster-teamate-name">Name Nonamovich</p>
					<img width="40" height="40" src="">
				</div>
				<div class="roster-teamate">
					<p class="roster-teamate-name">Name Nonamovich</p>
					<img width="40" height="40" src="">
				</div>



			</div>
		</div>
	</div>
	<div class="refs">
		<div class="title">
			<div class="ref">
				<div class="icon"><img class="svg" src=" /themes/join_2/img/ref.svg"></div>
				<div class="txt">
					<div class="var-ref-pervyj-suda-name">Анатолий Устюжанин</div>
					<div class="txt-info var-ref-0-position">Первый судья</div>
				</div>
			</div>
			<div class="ref">
				<div class="icon"><img class="svg" src=" /themes/join_2/img/ref.svg"></div>
				<div class="txt">
					<div class="var-ref-vtoroj-suda-name">Анатолий Устюжанин</div>
					<div class="txt-info">Второй судья</div>
				</div>
			</div>
			<div class="ref">
				<div class="icon"><img class="svg" src=" /themes/join_2/img/ref.svg"></div>
				<div class="txt">
					<div class="var-ref-tretij-suda-name">Анатолий Устюжанин</div>
					<div class="txt-info">Третий судья</div>
				</div>
			</div>
		</div>
	</div>
	<div class="event-container" style="position: absolute; bottom: 50px;">
		<div class="ev-flex">
			<div class="event-data">
				<div class="icon"><img class="svg ev-player-img" src="/img/photo_thumb.png" alt="palyer"></div>
				<div class="txt">
					<div class=""><span class="ev-name">Анатолий Устюжанин</span></div>
					<div class="txt-info"><span class="ev-add-txt">Первый судья</span></div>
				</div>
			</div>
			<div class="ev-icon">
				<div class="ev-logo"></div>
				<div class="ev-goal"></div>
				<div class="ev-yellow"></div>
				<div class="ev-red"></div>
			</div>
		</div>
	</div>
	<!-- 	<div class="var-container">
		<div class="var">
			<div class="var-event-data">
				<div class="var-icon">
					<div></div>
				</div>
			</div>
		</div>
	</div> -->

	<div id="weather_wrapper">
		<div class="weather">
			<div class="weatherCard">
				<div class="currentTemp">
					<span class="temp"></span>
					<span class="location var-town"></span>
				</div>
				<div class="currentWeather">
					<span class="conditions"></span>
					<div class="info">
						<span class="rain"></span>
						<span class="wind"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
