<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/static/styles/icons/fav.ico">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/lib/js/mammoth.browser.min.js"></script>
    <link rel="stylesheet" href="/static/styles/style.css" />
    <% if(title !== 'Панель управления') { %>
    <link rel="stylesheet" href="/static/styles/styles.css" />
    <% } %>
    <link rel="stylesheet" href="/static/styles/icons.css" />
    <link rel="stylesheet" href="/static/styles/normalize.css" />
    <script src="/static/script.js"></script>
    <script src="/static/lib/js/calendarorganizer.min.js"></script>
    <link rel="stylesheet" type="text/css"  href="/static/lib/css/calendarorganizer.min.css">
</head>
<body>
