.tournament_edit__form {
    display: none;
}

.tournament_edit__form.active {
    display: block;
}

.groups_body {
    display: none;
}

.groups_body.active {
    display: block;
}
.image_input {
    display: none;
}
fieldset {
    border: none;
    padding: 0;
    margin: 0;
}