

<div class="create_tournire_container">
    <form id="commentator_create__form">
    <p class="content_navtext">Главная &gt; Комментаторы &gt; Создание комментатора</p>
    <div class="create_tournire_content">
        <div class="create_tournire_header">
            <p class="page_title">Комментатор</p>
        </div>
        <div class="create_tournire_body">
            <div class="form_container">
                <div class="image_n_textareas">
                    <label class="image_upload">
                        <input type="file" class="image_input" name="img" id="image" accept="image/*" max="1">
                        <img src="" class="image_preview" alt="">
                        <p>Мин. размер: 320 x 320</p>
                    </label>
                    <div class="textareas_ct">
            
                    </div>

                
                </div>

                <div class="ct_form">
                    <div class="form_group">
                        <label for="full_name">ФИО</label>
                        <input type="text" id="fio" name="fio" required>
                    </div>
                    <div class="form_group">
                        <label for="birthday">Дата рождения</label>
                        <input type="date" id="birthday" name="birthday">
                    </div>
                    <div class="form_group">
                        <label for="mobile">Телефон</label>
                        <input type="text" id="mobile" name="mobile">
                    </div>
                    <div class="form_group">
                        <label for="socials">Соц. cети</label>
                        <input type="text" id="socials" name="socials">
                    </div>




                </div>
            </div>
        </div>
        <div class="create_tournire_footer">
            <div class="filler"></div>
            <input type="button" value="Отменить" class="button white_button">
            <input type="submit" value="Создать" class="button green_button">
        </div>
    </div>
</form>
</div>