

<div class="create_tournire_container">
    <form id="couch_create__form">
    <p class="content_navtext">Главная &gt; Тренеры &gt; Создание тренера</p>
    <div class="create_tournire_content">
        <div class="create_tournire_header">
            <p class="page_title">Тренер</p>
        </div>
        <div class="create_tournire_body">
            <div class="form_container">
                <div class="image_n_textareas">
                    <label class="image_upload">
                        <input type="file" class="image_input" name="img" id="image" accept="image/*">
                        <img src="" class="image_preview" alt="">
                        <p>Мин. размер: 320 x 320</p>
                    </label>
                    <div class="textareas_ct">

                    </div>

                
                </div>

                <div class="ct_form">
                    <div class="form_group">
                        <label for="full_name">ФИО</label>
                        <input type="text" id="fio" name="fio" required>
                    </div>
                    <div class="form_group">
                        <label for="team">Команда</label>
                        <input type="text" list="team" name="team" required>
                        <datalist id="team">
                            <% for (let i = 0; i < teams.length; i++) { %>
                                <option value="<%= teams[i].name %>" data-value="<%= teams[i]._id %>"></option>
                            <% } %>
                        </datalist>
                    </div>
                    
                    <div class="form_group">
                        <label for="birthday">Дата рождения</label>
                        <input type="date" id="birthday" name="birthday" >
                    </div>
                    <div class="form_group">
                        <label for="position">Место рождения</label>
                        <input type="text" id="position" name="position">
                    </div>
                    <div class="form_group">
                        <label for="mobile">Телефон</label>
                        <input type="text" id="mobile" name="mobile">
                    </div>
                    <div class="form_group">
                        <label for="socials">Соц. cети</label>
                        <input type="text" id="socials" name="socials">
                    </div>




                </div>
            </div>
        </div>
        <div class="create_tournire_footer">
            <div class="filler"></div>
            <input type="button" value="Отменить" class="button white_button">
            <input type="submit" value="Создать" class="button green_button">
        </div>
    </div>
</form>
</div>