<div class="tournires_content">
    <div class="tournires_header">
        <div class="tournires_header_header">
            <p class="page_title "><%= guide.name %></p>
        </div>

        
    </div>
    
    <div class="tournires_body">
        <%- guide.doc %>
    </div>
</div>