<div class="cool_body">
    <div class="cool_body_header">
        <div class="tournires_header_header">
            <p class="page_title "><%= guide.name %></p>
        </div>

        
    </div>
    
    <div class="cool_body_content">
        <%- guide.doc %>
    </div>
</div>