
<div class="team__wrapper">
    <div class="table_container">
        <div class="table_header">
            <p class="page_title">Игроки</p>
            
        </div>
    <table class="commands_table">
        <tr id="first-row">
            <td>ФИО</td>
            <td>Дата рождения</td>
            <td>Команда</td>
            <td>Действия</td>
            <td></td>
        </tr>
        <tr>
            <td><input type="text" class="table_input_text"></td>
            <td><input type="date" class="table_input_text"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    <% if (players.length > 0) { %>

    <% for (let i = 0; i < players.length; i++) {%>
        <tr>
            <td><%= players[i].fio %></td>
            <td><%= players[i].date %></td>
            <td><%= players[i].team.name %></td>
            <td>
                <span class="table_links table_links_compos nav_link"  data-href="match/edit/?id=<%= players[i]._id %>">Изменить</span>
            </td>
            <td>link</td>
        </tr>

    
    <% } %>
</table>
<%} else { %>
</table>

    <h1 class="lk_wrapper__title">Нет игроков</h1>
<% } %>
<script>
    
</script>
</div>

