

<div class="create_tournire_container">
    <form id="season_edit__form" data-id="<%= season.id %>">
    <p class="content_navtext">Главная &gt; Сезоны &gt; Создание сезона</p>
    <div class="create_tournire_content">
        <div class="create_tournire_header">
            <p class="page_title">Сезон</p>
        </div>
        <div class="create_tournire_body">
            <div class="form_container">
                <div class="ct_form">
                    <div class="form_group">
                        <label for="name">Название</label>
                        <input type="text" id="name" name="name" required value="<%= season.name %>">
                    </div>
                    <div class="form_group">
                        <label for="start">Дата начала</label>
                        <input type="date" id="start" name="start" value="<%= season.start %>">
                    </div>
                    <div class="form_group">
                        <label for="end">Дата окончания</label>
                        <input type="date" id="end" name="end"  value="<%= season.end %>">
                    </div>
                </div>
            </div>
        </div>
        <div class="create_tournire_footer">
            <div class="filler"></div>
            <input type="button" value="Отменить" class="button white_button">
            <input type="submit" value="Создать" class="button green_button">
        </div>
    </div>
</form>
</div>