<div class="team_create__wrapper">
    <h1 class="lk_wrapper__title">Создать игрока</h1>
    <form id="team_list_create__form">
        <label for="fio">ФИО</label>
        <input type="text" name="name" >
        <label for="description">Дата рождения</label>
        <input type="text" name="date" >
        <input type="submit" value="Создать">
    </form>
    <script>
        
    </script>
</div>