
<div class="team__wrapper">
    <div class="table_container">
        <div class="table_header">
            <p class="page_title">Трансферы</p>
            
        </div>
    <table class="commands_table">
        <tr id="first-row">
            <td>№</td>
            <td>ФИО</td>
            <td>Из команды</td>
            <td>В команду</td>
            <td>Статус</td>
            <td>Дата запроса трансфера</td>
            <td>Дата принятия трансфера</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="text" class="table_input_text"></td>
            <td><input type="text" class="table_input_text"></td>
            <td><input type="text" class="table_input_text"></td>
            <td><input type="text" class="table_input_text"></td>
            <td><input type="date" class="table_input_text"></td>
            <td><input type="date" class="table_input_text"></td>
        </tr>
     <% if (transfers.length > 0) { %>

    <% for (let i = 0; i < transfers.length; i++) {%>
        <tr>
            <td><%= i %></td>
            <td><%= transfers[i].fio %></td>
            <td><%= transfers[i].date %></td>
            <td><%= transfers[i].team.name %></td>
            <td>link</td>
        </tr>

    
    <% } %>
</table>
<%} else { %>
</table>
    <h2 class="lk_wrapper__title">Нет трансферов</h2>
<% } %>
<script>
    
</script>
</div>

