<div class="profile__wrapper">
    <h1 class="lk_wrapper__title">Профиль</h1>
    <form id="profile__form">
        <label for="name">Имя</label>
        <input type="text" name="name" value="<%=user.name %>">
        <label for="surname">Фамилия</label>
        <input type="text" name="surname" value="<%=user.surname %>">
        <label for="patronymic">Отчество</label>
        <input type="text" name="patronymic" value="<%=user.patronymic %>">
        <input type="submit" value="Сохранить">
    </form>
    <script>
        
    </script>
</div>