<div class="cool_body">
                        
    <form>
        <div class="cool_body_content wbt">
            <div class="table_header">
                <p class="page_title nm">Заявка судей</p>
                <div class="filler"></div>
                <input type="button" value="Незаявленные" class="table_button_radio_active table_radio_active nm">
                <input type="button" value="Заявленные" class="table_button_radio_archive middle_tbra nm">
            </div>
            <table class="commands_table fath">
                <tbody><tr>
                    <td>
                        <div class="form-group">
                            <p class="nm ml">Судья</p>
                            <div class="filler"></div>
                            <input type="button" value="Заявить" class="button green_button">
                        </div>
                    </td>
                </tr>
            </tbody></table>
            
        </div>

    </form>
</div>