<div class="cool_body">
                        
    <form id="tournament_docs_create__form">
        <div class="cool_body_content wbt">
            <p class="page_title nm">Создание документа</p>
        </div>
        <div class="cool_body_content">
            <label for="document_name">Название документа</label>
            <input type="text" class="text_form text double_form" id="document_name" name="name" required>

            <label for="document_file" class="mt">Файл</label>
            <input type="file" class=" text double_form doc_upload" id="document_file" name="doc_file" required>

            <div class="form-group mt">
            <input type="checkbox" id="document_public" name="document_public" class="checkbox" name="active">
            <label for="document_public">Опубликован</label>
            </div>

            <label for="document_date" class="mt">Дата публикации</label>
            <input type="date" class="text_form text" id="document_date" name="date">

        </div>
        <div class="cool_body_content">
            <div class="form-group">
                <div class="filler"></div>
                <input type="button" value="Отменить" class="button white_button">
                <input type="submit" value="Сохранить" class="button green_button">
            </div>
        </div>
    </form>
    
</div>
