<div class="cool_body">
    <!-- <div class="cool_header_block cbh">
        <input type="button" value="Основные настройки" class="t_button">
        <input type="button" value="Регламент" class="t_button">
        <input type="button" value="Заявочная компания" class="t_button">
        <input type="button" value="Внешний вид" class="t_button">
        <input type="button" value="Тег" class="t_button">
        <input type="button" value="Администраторы" class="t_button">
    </div> -->
    <form>
        <div class="groups_body_content">
            <p>Группы/сетки</p>
            <div class="filler"></div>
            <input type="button" value="Обновить статистику" class="button blue_button">
            <input type="button" value="Обновить Таблицы" class="button blue_button">
            <input type="button" value="Добавить" class="button green_button sub_nav_link" data-dest="tournament/id/<%= tournament._id %>/get__group_create" >
        </div>
    </form>
</div>
<div class="cool_body">
    <% groups.forEach((group) => { %>
        <div class="group_block">
            <p class="page_title"><%= group.name %></p>
            <input type="button" value="Редактировать" class="button green_button sub_nav_link" data-dest="tournament/id/<%= tournament._id %>/get__group_edit/<%= group._id %>">
        </div>

    <% }); %>
</div>