<div class="cool_body">
                        
    <form>
        <div class="cool_body_content wbt">
            <div class="table_header">
                <p class="page_title nm">Документы</p>
                <div class="filler"></div>
                <input type="button" value="Создать документ" class="button green_button def_link" data-href="lk?page=tournament/id/<%= tourId %>/docs_create"> 
            </div>
            <table class="commands_table">
                <tbody><tr>
                    <td>
                        #
                    </td>
                    <td>
                        Название
                    </td>
                    <td>
                        Дата публикации
                    </td>
                    <td>
                        Опубликован
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="text" class="table_input_text double_form"></td>
                    <td><input type="date" class="table_input_text"></td>
                    <td>
                        <select class="text_form">
                            <option>Все статусы</option>
                        </select></td>
                </tr>
                <tr>
                    <td colspan="4">ничего не найдено</td>
                </tr>
            </tbody></table>
            
        </div>

    </form>
</div>