<div class="cool_body">
                        
    <form>
        <div class="cool_body_content wbt">
            <div class="table_header">
                <p class="page_title nm">Команды</p>
                <div class="filler"></div>
                <input type="button" value="Незаявленные" class="table_button_radio_active table_radio_active nm">
                <input type="button" value="Подтвержденные" class="table_button_radio_archive middle_tbra nm">
                <input type="button" value="Черновики" class="table_button_radio_archive middle_tbra nm">
                <input type="button" value="Ожидают подтверждения" class="table_button_radio_archive middle_tbra nm flex_form">
                <input type="button" value="Исключения" class="table_button_radio_archive nm">
            </div>
            <table class="commands_table fath">
                <tr id="first-row">
                    <td colspan="4">
                        <div class="form-group">
                            <input type="text" class="text_form text ml" placeholder="Название команды" >
                            <input type="button" value="Найти" class="button blue_button">

                        </div>
                        </td>
                </tr>
                <% if (teams) {
                    teams.forEach((team) => {
                        %>
                        <tr>
                    <td>
                        <img src="<%=team.img ? team.img : '/static/styles/icons/logo.jpg'%>" alt="team" height="80" width="80" class="ml img_t">
                    </td>
                    <td><p class="nm"><%=team.name%></p></td>
                    <td>            
                        <input type="button" value="Выбрать команду" class="button green_button ">
                        <input type="button" value="Печать" class="button blue_button mst">
                    </td>
                </tr>
                <%
                    })
                } %>
                
            </table>
            
        </div>

    </form>
</div>